.corporate-prasar-bharati-secretariat-3 .frame-3 {
  border-radius: 26px;
  position: absolute;
  left: 337px;
  top: 129px;
  width: 1043px;
  height: 88px;
}
.corporate-prasar-bharati-secretariat-3 .download-removebg-preview-155 {
  background: url('../assets/images/download_removebg_preview_153.png') 50% / cover no-repeat;
  position: absolute;
  left: 61px;
  top: 79px;
  width: 194px;
  height: 194px;
}
.corporate-prasar-bharati-secretariat-3 .download-removebg-preview-193 {
  background: url('../assets/images/download_removebg_preview_191.png') 50% / cover no-repeat;
  margin: 0 2px 18px 0;
  align-self: center;
  width: 70px;
  height: 114px;
}
.corporate-prasar-bharati-secretariat-3 .search {
  margin: 3px 20px 11px 0;
  display: inline-block;
  width: 112px;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 600;
  font-size: 33px;
  color: #383086;
}
.corporate-prasar-bharati-secretariat-3 .sign-up {
  margin: 12px 6.4px 13px 0;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 700;
  font-size: 24px;
  color: #3A3085;
}
.corporate-prasar-bharati-secretariat-3 .login {
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 700;
  font-size: 24px;
  color: #F1F4FD;
}
.corporate-prasar-bharati-secretariat-3 .container-2 {
  border-radius: 14px;
  background: #3A3085;
  position: relative;
  padding: 12px 20px 13px 20px;
  width: 109px;
  box-sizing: border-box;
}
.corporate-prasar-bharati-secretariat-3 .container-22 {
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
}
.corporate-prasar-bharati-secretariat-3 .container-25 {
  margin: 0 52px 40px 52px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 1287px;
  box-sizing: border-box;
}
.corporate-prasar-bharati-secretariat-3 .home {
  overflow-wrap: break-word;
  font-family: 'Poppins';
  font-weight: 500;
  font-size: 28px;
  color: #383086;
}
.corporate-prasar-bharati-secretariat-3 .group-39 {
  margin: 14px 0 9px 0;
  display: flex;
  box-sizing: border-box;
}
.corporate-prasar-bharati-secretariat-3 .corporate {
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 600;
  font-size: 28px;
  color: #FFFFFF;
}
.corporate-prasar-bharati-secretariat-3 .group-40 {
  border-radius: 13px;
  background: #383086;
  position: relative;
  display: flex;
  padding: 17px 15.5px 14px 16px;
  box-sizing: border-box;
}
.corporate-prasar-bharati-secretariat-3 .listeners {
  margin: 18px 0 13px 0;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 500;
  font-size: 28px;
  color: #383086;
}
.corporate-prasar-bharati-secretariat-3 .viewers {
  margin: 18px 0 13px 0;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 500;
  font-size: 28px;
  color: #383086;
}
.corporate-prasar-bharati-secretariat-3 .clients {
  margin: 18px 0 13px 0;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 500;
  font-size: 28px;
  color: #383086;
}
.corporate-prasar-bharati-secretariat-3 .talent {
  margin: 18px 0 13px 0;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 500;
  font-size: 28px;
  color: #383086;
}
.corporate-prasar-bharati-secretariat-3 .latest {
  margin: 18px 0 13px 0;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 500;
  font-size: 28px;
  color: #383086;
}
.corporate-prasar-bharati-secretariat-3 .blog {
  margin: 18px 0 13px 0;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 500;
  font-size: 28px;
  color: #383086;
}
.corporate-prasar-bharati-secretariat-3 .container-16 {
  box-shadow: 9px 7px 4px 0px rgba(0, 0, 0, 0.25);
  border-radius: 17px;
  background: #FFFFFF;
  position: relative;
  margin-right: 40px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 6px 17.6px 8px 46px;
  width: 1418px;
  box-sizing: border-box;
}
.corporate-prasar-bharati-secretariat-3 .shape-1 {
  width: 41px;
  height: 44px;
}
.corporate-prasar-bharati-secretariat-3 .group-41 {
  border-radius: 30px;
  background: #3A3085;
  position: relative;
  margin: 11px 0 8px 0;
  display: flex;
  padding: 9px 9px 7px 10px;
  width: 60px;
  height: 60px;
  box-sizing: border-box;
}
.corporate-prasar-bharati-secretariat-3 .container-11 {
  margin: 0 56px 29px 154px;
  display: flex;
  flex-direction: row;
  width: 1518px;
  box-sizing: border-box;
}
.corporate-prasar-bharati-secretariat-3 .corporate-1 {
  margin: 0 2px 45px 0;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 700;
  font-size: 35px;
  color: #383086;
}
.corporate-prasar-bharati-secretariat-3 .mission-objectives {
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 700;
  font-size: 28px;
  color: #383086;
}
.corporate-prasar-bharati-secretariat-3 .container-17 {
  box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.25);
  border-radius: 14px;
  background: #F1F4FD;
  position: relative;
  margin-bottom: 25px;
  display: flex;
  padding: 25px 35.4px 22px 33.4px;
  box-sizing: border-box;
}
.corporate-prasar-bharati-secretariat-3 .prasar-bharati-board {
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 700;
  font-size: 28px;
  color: #383086;
}
.corporate-prasar-bharati-secretariat-3 .container-14 {
  box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.25);
  border-radius: 14px;
  background: #F1F4FD;
  position: relative;
  margin-bottom: 25px;
  display: flex;
  padding: 25px 2px 22px 0;
  width: 355px;
  box-sizing: border-box;
}
.corporate-prasar-bharati-secretariat-3 .prasar-bharati-act {
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 700;
  font-size: 28px;
  color: #383086;
}
.corporate-prasar-bharati-secretariat-3 .container-15 {
  box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.25);
  border-radius: 14px;
  background: #F1F4FD;
  position: relative;
  margin-bottom: 25px;
  display: flex;
  padding: 25px 3px 22px 0;
  width: 355px;
  box-sizing: border-box;
}
.corporate-prasar-bharati-secretariat-3 .pb-secretariat {
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 700;
  font-size: 28px;
  color: #FFFFFF;
}
.corporate-prasar-bharati-secretariat-3 .container-23 {
  box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.25);
  border-radius: 14px;
  background: #383086;
  position: relative;
  margin-bottom: 25px;
  display: flex;
  padding: 25px 3px 22px 0;
  width: 355px;
  box-sizing: border-box;
}
.corporate-prasar-bharati-secretariat-3 .all-india-radio {
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 700;
  font-size: 28px;
  color: #383086;
}
.corporate-prasar-bharati-secretariat-3 .container-6 {
  box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.25);
  border-radius: 14px;
  background: #F1F4FD;
  position: relative;
  margin-bottom: 25px;
  display: flex;
  padding: 25px 3px 22px 0;
  width: 355px;
  box-sizing: border-box;
}
.corporate-prasar-bharati-secretariat-3 .doordarshan {
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 700;
  font-size: 28px;
  color: #383086;
}
.corporate-prasar-bharati-secretariat-3 .container-29 {
  box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.25);
  border-radius: 14px;
  background: #F1F4FD;
  position: relative;
  margin-bottom: 25px;
  display: flex;
  padding: 25px 3px 22px 0;
  width: 355px;
  box-sizing: border-box;
}
.corporate-prasar-bharati-secretariat-3 .pbns-dp {
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 700;
  font-size: 28px;
  color: #383086;
}
.corporate-prasar-bharati-secretariat-3 .container-21 {
  box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.25);
  border-radius: 14px;
  background: #F1F4FD;
  position: relative;
  margin-bottom: 25px;
  display: flex;
  padding: 25px 17px 22px 0;
  width: 355px;
  box-sizing: border-box;
}
.corporate-prasar-bharati-secretariat-3 .air-news {
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 700;
  font-size: 28px;
  color: #383086;
}
.corporate-prasar-bharati-secretariat-3 .container-20 {
  box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.25);
  border-radius: 14px;
  background: #F1F4FD;
  position: relative;
  margin-bottom: 25px;
  display: flex;
  padding: 25px 2px 22px 0;
  width: 355px;
  box-sizing: border-box;
}
.corporate-prasar-bharati-secretariat-3 .dd-news {
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 700;
  font-size: 28px;
  color: #383086;
}
.corporate-prasar-bharati-secretariat-3 .container {
  box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.25);
  border-radius: 14px;
  background: #F1F4FD;
  position: relative;
  margin-bottom: 25px;
  display: flex;
  padding: 25px 3px 22px 0;
  width: 355px;
  box-sizing: border-box;
}
.corporate-prasar-bharati-secretariat-3 .prasar-bharati-archives {
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 700;
  font-size: 28px;
  color: #383086;
}
.corporate-prasar-bharati-secretariat-3 .container-5 {
  box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.25);
  border-radius: 14px;
  background: #F1F4FD;
  position: relative;
  margin-bottom: 25px;
  display: flex;
  padding: 25px 18.3px 22px 15.3px;
  box-sizing: border-box;
}
.corporate-prasar-bharati-secretariat-3 .nabm {
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 700;
  font-size: 28px;
  color: #383086;
}
.corporate-prasar-bharati-secretariat-3 .container-3 {
  box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.25);
  border-radius: 14px;
  background: #F1F4FD;
  position: relative;
  margin-bottom: 25px;
  display: flex;
  padding: 25px 16px 22px 0;
  width: 355px;
  box-sizing: border-box;
}
.corporate-prasar-bharati-secretariat-3 .ccw {
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 700;
  font-size: 28px;
  color: #383086;
}
.corporate-prasar-bharati-secretariat-3 .container-4 {
  box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.25);
  border-radius: 14px;
  background: #F1F4FD;
  position: relative;
  margin-bottom: 25px;
  display: flex;
  padding: 25px 3px 22px 0;
  width: 355px;
  box-sizing: border-box;
}
.corporate-prasar-bharati-secretariat-3 .research-development {
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 700;
  font-size: 28px;
  color: #383086;
}
.corporate-prasar-bharati-secretariat-3 .container-18 {
  box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.25);
  border-radius: 14px;
  background: #F1F4FD;
  position: relative;
  margin-bottom: 25px;
  display: flex;
  padding: 25px 7.3px 22px 5.3px;
  box-sizing: border-box;
}
.corporate-prasar-bharati-secretariat-3 .ministry-of-ib {
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 700;
  font-size: 28px;
  color: #383086;
}
.corporate-prasar-bharati-secretariat-3 .container-13 {
  box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.25);
  border-radius: 14px;
  background: #F1F4FD;
  position: relative;
  display: flex;
  padding: 25px 2px 22px 0;
  width: 355px;
  box-sizing: border-box;
}
.corporate-prasar-bharati-secretariat-3 .container-27 {
  box-shadow: 10px 4px 4px 0px rgba(0, 0, 0, 0.15);
  border-radius: 30px;
  border: 1px solid rgba(56, 48, 134, 0.51);
  background: #FFFFFF;
  position: relative;
  margin-right: 59px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 55px 19px 43px 19px;
  box-sizing: border-box;
}
.corporate-prasar-bharati-secretariat-3 .prasar-bharati-secretariat {
  margin-bottom: 51px;
  display: inline-block;
  align-self: flex-start;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 700;
  font-size: 49px;
  color: #383086;
}
.corporate-prasar-bharati-secretariat-3 .home-1 {
  margin: 12px 19.5px 16px 0;
  display: inline-block;
  width: 91px;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 500;
  font-size: 32px;
  color: #383086;
}
.corporate-prasar-bharati-secretariat-3 .whos-who {
  margin: 12px 0 16px 0;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 500;
  font-size: 32px;
  color: #383086;
}
.corporate-prasar-bharati-secretariat-3 .contacts {
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 500;
  font-size: 32px;
  color: #FFFFFF;
}
.corporate-prasar-bharati-secretariat-3 .container-26 {
  border-radius: 17px;
  border: 1px solid #383086;
  background: #383086;
  position: relative;
  display: flex;
  padding: 11px 18px 17px 18px;
  box-sizing: border-box;
}
.corporate-prasar-bharati-secretariat-3 .container-19 {
  box-shadow: 9px 7px 4px 0px rgba(0, 0, 0, 0.25);
  border-radius: 17px;
  border: 1px solid #383086;
  background: #FFFFFF;
  position: relative;
  margin: 0 1.6px 64px 1.6px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-self: flex-start;
  padding: 6px 8px 6px 41px;
  width: 738px;
  box-sizing: border-box;
}
.corporate-prasar-bharati-secretariat-3 .contact-details-prasar-bharati-india-spublic-service-broadcaster-prasar-bharati-secretariat-prasar-bharati-house-copernicus-marg-new-delhi-110001-common-contact-number-for-prasar-bharati-secretariat-is-01123118559-head-of-office-01123118421 {
  margin: 0 8.6px;
  align-self: flex-start;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 500;
  font-size: 17px;
  color: #383086;
}
.contact-details-prasar-bharati-india-spublic-service-broadcaster-prasar-bharati-secretariat-prasar-bharati-house-copernicus-marg-new-delhi-110001-common-contact-number-for-prasar-bharati-secretariat-is-01123118559-head-of-office-01123118421-sub1666 {
  font-family: 'Inter';
  font-weight: 600;
  font-size: 42px;
  line-height: 1.333;
}
.contact-details-prasar-bharati-india-spublic-service-broadcaster-prasar-bharati-secretariat-prasar-bharati-house-copernicus-marg-new-delhi-110001-common-contact-number-for-prasar-bharati-secretariat-is-01123118559-head-of-office-01123118421-sub1662 {
  font-family: 'Inter';
  font-weight: 500;
  font-size: 42px;
  line-height: 1.333;
}
.contact-details-prasar-bharati-india-spublic-service-broadcaster-prasar-bharati-secretariat-prasar-bharati-house-copernicus-marg-new-delhi-110001-common-contact-number-for-prasar-bharati-secretariat-is-01123118559-head-of-office-01123118421-sub1679 {
  font-family: 'Inter';
  font-weight: 600;
  font-size: 24px;
  line-height: 1.333;
}
.contact-details-prasar-bharati-india-spublic-service-broadcaster-prasar-bharati-secretariat-prasar-bharati-house-copernicus-marg-new-delhi-110001-common-contact-number-for-prasar-bharati-secretariat-is-01123118559-head-of-office-01123118421-sub1681 {
  font-family: 'Inter';
  font-weight: 600;
  font-size: 20px;
  line-height: 1.333;
}
.contact-details-prasar-bharati-india-spublic-service-broadcaster-prasar-bharati-secretariat-prasar-bharati-house-copernicus-marg-new-delhi-110001-common-contact-number-for-prasar-bharati-secretariat-is-01123118559-head-of-office-01123118421 {
  font-family: 'Inter';
  font-weight: 500;
  font-size: 20px;
  line-height: 1.333;
}
.corporate-prasar-bharati-secretariat-3 .container-1 {
  border-radius: 78px;
  background: #FFFFFF;
  position: relative;
  margin: 55px 0 178px 0;
  display: flex;
  flex-direction: column;
  padding: 83px 0 795px 68.4px;
  width: 1074px;
  box-sizing: border-box;
}
.corporate-prasar-bharati-secretariat-3 .container-10 {
  margin: 0 49px 322px 153px;
  display: flex;
  flex-direction: row;
  width: fit-content;
  box-sizing: border-box;
}
.circulars-tenders-sub79 {
  font-family: 'Poppins';
  font-weight: 600;
  font-size: 30px;
  text-decoration-line: underline;
  line-height: 1.333;
  color: #383086;
}
.circulars-tenders-sub78 {
  font-family: 'Poppins';
  font-weight: 600;
  font-size: 30px;
  line-height: 1.333;
  color: #383086;
}
.circulars-tenders {
  font-family: 'Poppins';
  font-weight: 600;
  font-size: 30px;
  text-decoration-line: underline;
  line-height: 1.333;
  color: #383086;
}
.corporate-prasar-bharati-secretariat-3 .circulars-tenders {
  margin: 3.9px 134.8px 412.8px 0;
  overflow-wrap: break-word;
  font-family: 'Staatliches';
  font-weight: 400;
  font-size: 30px;
  color: #383086;
}
.prasar-bharati-board-citizens-charter-feedback-sub8 {
  font-family: 'Poppins';
  font-weight: 600;
  font-size: 30px;
  text-decoration-line: underline;
  line-height: 1.333;
  color: #383086;
}
.prasar-bharati-board-citizens-charter-feedback {
  font-family: 'Poppins';
  font-weight: 600;
  font-size: 30px;
  text-decoration-line: underline;
  line-height: 1.333;
  color: #383086;
}
.corporate-prasar-bharati-secretariat-3 .prasar-bharati-board-citizens-charter-feedback {
  margin: 1.7px 77.3px 0 0;
  overflow-wrap: break-word;
  font-family: 'Poppins';
  font-weight: 600;
  font-size: 30px;
  color: #383086;
}
.prasar-bharati-board-citizens-charter-feedback-sub10 {
  font-family: 'Poppins';
  font-weight: 600;
  font-size: 30px;
  text-decoration-line: underline;
  line-height: 1.333;
  color: #383086;
}
.corporate-prasar-bharati-secretariat-3 .ministry-of-ibcvc-epledge {
  margin-bottom: 46.7px;
  overflow-wrap: break-word;
  font-family: 'Poppins';
  font-weight: 600;
  font-size: 30px;
  color: #383086;
}
.ministry-of-ibcvc-epledge-sub7 {
  font-family: 'Poppins';
  font-weight: 600;
  font-size: 30px;
  text-decoration-line: underline;
  line-height: 1.333;
  color: #383086;
}
.ministry-of-ibcvc-epledge {
  font-family: 'Poppins';
  font-weight: 600;
  font-size: 30px;
  text-decoration-line: underline;
  line-height: 1.333;
  color: #383086;
}
.corporate-prasar-bharati-secretariat-3 .container-12 {
  margin-bottom: 48px;
  display: flex;
  flex-direction: row;
  width: fit-content;
  box-sizing: border-box;
}
.corporate-prasar-bharati-secretariat-3 .image-48 {
  background: url('../assets/images/image_46.png') 50% / cover no-repeat;
  margin-left: 6px;
  width: 321px;
  height: 322px;
}
.corporate-prasar-bharati-secretariat-3 .container-7 {
  margin-right: 102.2px;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
}
.corporate-prasar-bharati-secretariat-3 .disclaimer-contact-us-help-sitemap {
  margin: 9.3px 0 317.4px 0;
  overflow-wrap: break-word;
  font-family: 'Poppins';
  font-weight: 600;
  font-size: 30px;
  color: #383086;
}
.disclaimer-contact-us-help-sitemap-sub13 {
  font-family: 'Poppins';
  font-weight: 600;
  font-size: 30px;
  text-decoration-line: underline;
  line-height: 1.333;
  color: #383086;
}
.disclaimer-contact-us-help-sitemap-sub11 {
  font-family: 'Poppins';
  font-weight: 600;
  font-size: 30px;
  text-decoration-line: underline;
  line-height: 1.333;
  color: #383086;
}
.disclaimer-contact-us-help-sitemap-sub10 {
  font-family: 'Poppins';
  font-weight: 600;
  font-size: 30px;
  text-decoration-line: underline;
  line-height: 1.333;
  color: #383086;
}
.disclaimer-contact-us-help-sitemap {
  font-family: 'Poppins';
  font-weight: 600;
  font-size: 30px;
  text-decoration-line: underline;
  line-height: 1.333;
  color: #383086;
}
.corporate-prasar-bharati-secretariat-3 .container-9 {
  margin-bottom: 3px;
  display: flex;
  flex-direction: row;
  width: fit-content;
  box-sizing: border-box;
}
.corporate-prasar-bharati-secretariat-3 .get-news-onair-app {
  margin-left: 8.6px;
  overflow-wrap: break-word;
  font-family: 'Poppins';
  font-weight: 600;
  font-size: 30px;
  color: #383086;
}
.corporate-prasar-bharati-secretariat-3 .container-24 {
  background: #FFFFFF;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 105.3px 0 114px 0;
  width: 1728px;
  box-sizing: border-box;
}
.corporate-prasar-bharati-secretariat-3 .container-28 {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  width: 1728px;
  height: fit-content;
  box-sizing: border-box;
}
.corporate-prasar-bharati-secretariat-3 .whats-new {
  margin-right: 28.5px;
  width: 193px;
  overflow-wrap: break-word;
  font-family: 'Staatliches';
  font-weight: 400;
  font-size: 46px;
  color: #FFFFFF;
}
.corporate-prasar-bharati-secretariat-3 .about-us {
  overflow-wrap: break-word;
  font-family: 'Staatliches';
  font-weight: 400;
  font-size: 46px;
  color: #FFFFFF;
}
.corporate-prasar-bharati-secretariat-3 .related-links {
  overflow-wrap: break-word;
  font-family: 'Staatliches';
  font-weight: 400;
  font-size: 46px;
  color: #FFFFFF;
}
.corporate-prasar-bharati-secretariat-3 .prasar-bharati {
  overflow-wrap: break-word;
  font-family: 'Staatliches';
  font-weight: 400;
  font-size: 46px;
  color: #FFFFFF;
}
.corporate-prasar-bharati-secretariat-3 .container-8 {
  background: #383086;
  position: absolute;
  left: -4px;
  bottom: 667px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 34px 171.8px 22px 0;
  width: 1728px;
  height: 113px;
  box-sizing: border-box;
}
.corporate-prasar-bharati-secretariat-3 .firstline {
  width: 73px;
  height: 71.3px;
}
.corporate-prasar-bharati-secretariat-3 .vuesaxbrokenfirstline {
  position: absolute;
  left: 50px;
  top: 252.2px;
  display: flex;
  width: 73px;
  height: 71.3px;
  box-sizing: border-box;
}
.corporate-prasar-bharati-secretariat-3 {
  background: #F1F4FD;
  display: flex;
  padding: 18px 5px 0 0;
  width: 1728px;
  box-sizing: border-box;
}
