.corporate-prasar-bharati-secretariat-1 .frame-3 {
  border-radius: 26px;
  position: absolute;
  left: 337px;
  top: 129px;
  width: 1043px;
  height: 88px;
}
.corporate-prasar-bharati-secretariat-1 .download-removebg-preview-155 {
  background: url('../assets/images/download_removebg_preview_153.png') 50% / cover no-repeat;
  position: absolute;
  left: 61px;
  top: 79px;
  width: 194px;
  height: 194px;
}
.corporate-prasar-bharati-secretariat-1 .download-removebg-preview-193 {
  background: url('../assets/images/download_removebg_preview_191.png') 50% / cover no-repeat;
  margin: 0 2px 18px 0;
  align-self: center;
  width: 70px;
  height: 114px;
}
.corporate-prasar-bharati-secretariat-1 .search {
  margin: 3px 20px 11px 0;
  display: inline-block;
  width: 112px;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 600;
  font-size: 33px;
  color: #383086;
}
.corporate-prasar-bharati-secretariat-1 .sign-up {
  margin: 12px 6.4px 13px 0;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 700;
  font-size: 24px;
  color: #3A3085;
}
.corporate-prasar-bharati-secretariat-1 .login {
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 700;
  font-size: 24px;
  color: #F1F4FD;
}
.corporate-prasar-bharati-secretariat-1 .container-5 {
  border-radius: 14px;
  background: #3A3085;
  position: relative;
  padding: 12px 20px 13px 20px;
  width: 109px;
  box-sizing: border-box;
}
.corporate-prasar-bharati-secretariat-1 .container-23 {
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
}
.corporate-prasar-bharati-secretariat-1 .container-18 {
  margin: 0 52px 40px 52px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 1287px;
  box-sizing: border-box;
}
.corporate-prasar-bharati-secretariat-1 .home-1 {
  overflow-wrap: break-word;
  font-family: 'Poppins';
  font-weight: 500;
  font-size: 28px;
  color: #383086;
}
.corporate-prasar-bharati-secretariat-1 .group-39 {
  margin: 14px 0 9px 0;
  display: flex;
  box-sizing: border-box;
}
.corporate-prasar-bharati-secretariat-1 .corporate {
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 600;
  font-size: 28px;
  color: #FFFFFF;
}
.corporate-prasar-bharati-secretariat-1 .group-40 {
  border-radius: 13px;
  background: #383086;
  position: relative;
  display: flex;
  padding: 17px 15.5px 14px 16px;
  box-sizing: border-box;
}
.corporate-prasar-bharati-secretariat-1 .listeners {
  margin: 18px 0 13px 0;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 500;
  font-size: 28px;
  color: #383086;
}
.corporate-prasar-bharati-secretariat-1 .viewers {
  margin: 18px 0 13px 0;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 500;
  font-size: 28px;
  color: #383086;
}
.corporate-prasar-bharati-secretariat-1 .clients {
  margin: 18px 0 13px 0;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 500;
  font-size: 28px;
  color: #383086;
}
.corporate-prasar-bharati-secretariat-1 .talent {
  margin: 18px 0 13px 0;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 500;
  font-size: 28px;
  color: #383086;
}
.corporate-prasar-bharati-secretariat-1 .latest {
  margin: 18px 0 13px 0;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 500;
  font-size: 28px;
  color: #383086;
}
.corporate-prasar-bharati-secretariat-1 .blog {
  margin: 18px 0 13px 0;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 500;
  font-size: 28px;
  color: #383086;
}
.corporate-prasar-bharati-secretariat-1 .container-25 {
  box-shadow: 9px 7px 4px 0px rgba(0, 0, 0, 0.25);
  border-radius: 17px;
  background: #FFFFFF;
  position: relative;
  margin-right: 40px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 6px 17.6px 8px 46px;
  width: 1418px;
  box-sizing: border-box;
}
.corporate-prasar-bharati-secretariat-1 .shape {
  width: 41px;
  height: 44px;
}
.corporate-prasar-bharati-secretariat-1 .group-41 {
  border-radius: 30px;
  background: #3A3085;
  position: relative;
  margin: 11px 0 8px 0;
  display: flex;
  padding: 9px 9px 7px 10px;
  width: 60px;
  height: 60px;
  box-sizing: border-box;
}
.corporate-prasar-bharati-secretariat-1 .container-21 {
  margin: 0 56px 29px 154px;
  display: flex;
  flex-direction: row;
  width: 1518px;
  box-sizing: border-box;
}
.corporate-prasar-bharati-secretariat-1 .corporate-1 {
  margin: 0 2px 45px 0;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 700;
  font-size: 35px;
  color: #383086;
}
.corporate-prasar-bharati-secretariat-1 .mission-objectives {
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 700;
  font-size: 28px;
  color: #383086;
}
.corporate-prasar-bharati-secretariat-1 .container-16 {
  box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.25);
  border-radius: 14px;
  background: #F1F4FD;
  position: relative;
  margin-bottom: 25px;
  display: flex;
  padding: 25px 35.4px 22px 33.4px;
  box-sizing: border-box;
}
.corporate-prasar-bharati-secretariat-1 .prasar-bharati-board {
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 700;
  font-size: 28px;
  color: #383086;
}
.corporate-prasar-bharati-secretariat-1 .container-13 {
  box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.25);
  border-radius: 14px;
  background: #F1F4FD;
  position: relative;
  margin-bottom: 25px;
  display: flex;
  padding: 25px 2px 22px 0;
  width: 355px;
  box-sizing: border-box;
}
.corporate-prasar-bharati-secretariat-1 .prasar-bharati-act {
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 700;
  font-size: 28px;
  color: #383086;
}
.corporate-prasar-bharati-secretariat-1 .container-2 {
  box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.25);
  border-radius: 14px;
  background: #F1F4FD;
  position: relative;
  margin-bottom: 25px;
  display: flex;
  padding: 25px 3px 22px 0;
  width: 355px;
  box-sizing: border-box;
}
.corporate-prasar-bharati-secretariat-1 .pb-secretariat {
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 700;
  font-size: 28px;
  color: #FFFFFF;
}
.corporate-prasar-bharati-secretariat-1 .container-19 {
  box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.25);
  border-radius: 14px;
  background: #383086;
  position: relative;
  margin-bottom: 25px;
  display: flex;
  padding: 25px 3px 22px 0;
  width: 355px;
  box-sizing: border-box;
}
.corporate-prasar-bharati-secretariat-1 .all-india-radio {
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 700;
  font-size: 28px;
  color: #383086;
}
.corporate-prasar-bharati-secretariat-1 .container-8 {
  box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.25);
  border-radius: 14px;
  background: #F1F4FD;
  position: relative;
  margin-bottom: 25px;
  display: flex;
  padding: 25px 3px 22px 0;
  width: 355px;
  box-sizing: border-box;
}
.corporate-prasar-bharati-secretariat-1 .doordarshan {
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 700;
  font-size: 28px;
  color: #383086;
}
.corporate-prasar-bharati-secretariat-1 .container-6 {
  box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.25);
  border-radius: 14px;
  background: #F1F4FD;
  position: relative;
  margin-bottom: 25px;
  display: flex;
  padding: 25px 3px 22px 0;
  width: 355px;
  box-sizing: border-box;
}
.corporate-prasar-bharati-secretariat-1 .pbns-dp {
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 700;
  font-size: 28px;
  color: #383086;
}
.corporate-prasar-bharati-secretariat-1 .container {
  box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.25);
  border-radius: 14px;
  background: #F1F4FD;
  position: relative;
  margin-bottom: 25px;
  display: flex;
  padding: 25px 17px 22px 0;
  width: 355px;
  box-sizing: border-box;
}
.corporate-prasar-bharati-secretariat-1 .air-news {
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 700;
  font-size: 28px;
  color: #383086;
}
.corporate-prasar-bharati-secretariat-1 .container-11 {
  box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.25);
  border-radius: 14px;
  background: #F1F4FD;
  position: relative;
  margin-bottom: 25px;
  display: flex;
  padding: 25px 2px 22px 0;
  width: 355px;
  box-sizing: border-box;
}
.corporate-prasar-bharati-secretariat-1 .dd-news {
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 700;
  font-size: 28px;
  color: #383086;
}
.corporate-prasar-bharati-secretariat-1 .container-3 {
  box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.25);
  border-radius: 14px;
  background: #F1F4FD;
  position: relative;
  margin-bottom: 25px;
  display: flex;
  padding: 25px 3px 22px 0;
  width: 355px;
  box-sizing: border-box;
}
.corporate-prasar-bharati-secretariat-1 .prasar-bharati-archives {
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 700;
  font-size: 28px;
  color: #383086;
}
.corporate-prasar-bharati-secretariat-1 .container-4 {
  box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.25);
  border-radius: 14px;
  background: #F1F4FD;
  position: relative;
  margin-bottom: 25px;
  display: flex;
  padding: 25px 18.3px 22px 15.3px;
  box-sizing: border-box;
}
.corporate-prasar-bharati-secretariat-1 .nabm {
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 700;
  font-size: 28px;
  color: #383086;
}
.corporate-prasar-bharati-secretariat-1 .container-1 {
  box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.25);
  border-radius: 14px;
  background: #F1F4FD;
  position: relative;
  margin-bottom: 25px;
  display: flex;
  padding: 25px 16px 22px 0;
  width: 355px;
  box-sizing: border-box;
}
.corporate-prasar-bharati-secretariat-1 .ccw {
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 700;
  font-size: 28px;
  color: #383086;
}
.corporate-prasar-bharati-secretariat-1 .container-17 {
  box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.25);
  border-radius: 14px;
  background: #F1F4FD;
  position: relative;
  margin-bottom: 25px;
  display: flex;
  padding: 25px 3px 22px 0;
  width: 355px;
  box-sizing: border-box;
}
.corporate-prasar-bharati-secretariat-1 .research-development {
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 700;
  font-size: 28px;
  color: #383086;
}
.corporate-prasar-bharati-secretariat-1 .container-14 {
  box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.25);
  border-radius: 14px;
  background: #F1F4FD;
  position: relative;
  margin-bottom: 25px;
  display: flex;
  padding: 25px 7.3px 22px 5.3px;
  box-sizing: border-box;
}
.corporate-prasar-bharati-secretariat-1 .ministry-of-ib {
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 700;
  font-size: 28px;
  color: #383086;
}
.corporate-prasar-bharati-secretariat-1 .container-26 {
  box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.25);
  border-radius: 14px;
  background: #F1F4FD;
  position: relative;
  display: flex;
  padding: 25px 2px 22px 0;
  width: 355px;
  box-sizing: border-box;
}
.corporate-prasar-bharati-secretariat-1 .container-22 {
  box-shadow: 10px 4px 4px 0px rgba(0, 0, 0, 0.15);
  border-radius: 30px;
  border: 1px solid rgba(56, 48, 134, 0.51);
  background: #FFFFFF;
  position: relative;
  margin-right: 59px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 55px 19px 43px 19px;
  box-sizing: border-box;
}
.corporate-prasar-bharati-secretariat-1 .prasar-bharati-secretariat {
  margin-bottom: 51px;
  display: inline-block;
  align-self: flex-start;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 700;
  font-size: 49px;
  color: #383086;
}
.corporate-prasar-bharati-secretariat-1 .home {
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 600;
  font-size: 32px;
  color: #FFFFFF;
}
.corporate-prasar-bharati-secretariat-1 .container-9 {
  border-radius: 17px;
  border: 1px solid #383086;
  background: #383086;
  position: relative;
  display: flex;
  padding: 13px 0 15px 6px;
  width: 143px;
  height: fit-content;
  box-sizing: border-box;
}
.corporate-prasar-bharati-secretariat-1 .whos-who {
  margin: 13px 0 15px 0;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 500;
  font-size: 32px;
  color: #383086;
}
.corporate-prasar-bharati-secretariat-1 .contacts {
  margin: 14px 0;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 500;
  font-size: 32px;
  color: #383086;
}
.corporate-prasar-bharati-secretariat-1 .container-29 {
  box-shadow: 9px 7px 4px 0px rgba(0, 0, 0, 0.25);
  border-radius: 17px;
  border: 1px solid #383086;
  background: #FFFFFF;
  position: relative;
  margin: 0 1.6px 64px 1.6px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-self: flex-start;
  padding: 5px 24px 7px 12px;
  width: 738px;
  box-sizing: border-box;
}
.corporate-prasar-bharati-secretariat-1 .in-exercise-of-the-powers-conferred-by-section-33-read-with-sub-section-1-of-the-section-8-of-the-pb-act-199025-of-1990-prasar-bharati-made-its-regulations-called-prasar-bharati-broadcasting-corporation-of-india-procedure-and-conduct-of-business-regulations-2000-which-empowers-the-chief-executive-officer-executive-member-to-conduct-business-of-the-prasar-bharati-board-the-secretariat-is-located-in-the-prasar-bharati-house-on-copernicus-marg-new-delhi-the-offices-of-the-chairman-chief-executive-officer-member-finance-member-personnel-are-housed-in-the-secretariat-the-establishment-administration-budget-and-finance-board-and-operations-technical-it-legal-vigilance-commercial-tariff-and-costing-taxation-and-accounts-are-other-divisions-that-function-from-the-secretariat-the-prasar-bharati-secretariat-is-coordinating-link-of-the-prasar-bharati-board-and-executive-member-and-the-various-verticals-of-prasar-bharati-like-all-india-radio-doordarshan-news-services-of-all-india-radio-and-doordarshan-civil-construction-wing-ccw-etc-the-secretariat-is-responsible-for-servicing-the-prasar-bharati-board-and-ensuring-the-execution-of-decisions-taken-by-it-policy-planning-administrative-decision-making-recruitment-personnel-and-financial-management-revenue-monitoring-control-and-coordination-of-the-broadcast-verticals-doordarshan-and-air-are-vested-in-the-secretariat-prasar-bharati-secretariat-interacts-with-the-central-government-ministry-of-information-broadcasting-in-matters-related-to-the-functioning-of-all-india-radio-and-doordarshan-it-also-acts-as-avital-bridge-between-the-two-media-units-all-india-radio-and-doordarshan-to-bring-in-synergy-between-their-functioning-thereby-improving-the-efficiency-and-lowering-of-costs {
  margin-left: 8.6px;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 600;
  font-size: 17px;
  color: #383086;
}
.corporate-prasar-bharati-secretariat-1 .container-12 {
  border-radius: 78px;
  background: #FFFFFF;
  position: relative;
  margin: 55px 0 654px 0;
  display: flex;
  flex-direction: column;
  padding: 83px 72.1px 200px 68.4px;
  box-sizing: border-box;
}
.corporate-prasar-bharati-secretariat-1 .container-27 {
  margin: 0 49px 322px 153px;
  display: flex;
  flex-direction: row;
  width: fit-content;
  box-sizing: border-box;
}
.circulars-tenders-sub78 {
  font-family: 'Poppins';
  font-weight: 600;
  font-size: 30px;
  line-height: 1.333;
  color: #383086;
}
.circulars-tenders {
  font-family: 'Poppins';
  font-weight: 600;
  font-size: 30px;
  text-decoration-line: underline;
  line-height: 1.333;
  color: #383086;
}
.corporate-prasar-bharati-secretariat-1 .circulars-tenders {
  margin: 3.9px 134.8px 412.8px 0;
  overflow-wrap: break-word;
  font-family: 'Staatliches';
  font-weight: 400;
  font-size: 30px;
  color: #383086;
}
.circulars-tenders-sub79 {
  font-family: 'Poppins';
  font-weight: 600;
  font-size: 30px;
  text-decoration-line: underline;
  line-height: 1.333;
  color: #383086;
}
.prasar-bharati-board-citizens-charter-feedback {
  font-family: 'Poppins';
  font-weight: 600;
  font-size: 30px;
  text-decoration-line: underline;
  line-height: 1.333;
  color: #383086;
}
.corporate-prasar-bharati-secretariat-1 .prasar-bharati-board-citizens-charter-feedback {
  margin: 1.7px 77.3px 0 0;
  overflow-wrap: break-word;
  font-family: 'Poppins';
  font-weight: 600;
  font-size: 30px;
  color: #383086;
}
.prasar-bharati-board-citizens-charter-feedback-sub10 {
  font-family: 'Poppins';
  font-weight: 600;
  font-size: 30px;
  text-decoration-line: underline;
  line-height: 1.333;
  color: #383086;
}
.prasar-bharati-board-citizens-charter-feedback-sub8 {
  font-family: 'Poppins';
  font-weight: 600;
  font-size: 30px;
  text-decoration-line: underline;
  line-height: 1.333;
  color: #383086;
}
.corporate-prasar-bharati-secretariat-1 .ministry-of-ibcvc-epledge {
  margin-bottom: 46.7px;
  overflow-wrap: break-word;
  font-family: 'Poppins';
  font-weight: 600;
  font-size: 30px;
  color: #383086;
}
.ministry-of-ibcvc-epledge-sub7 {
  font-family: 'Poppins';
  font-weight: 600;
  font-size: 30px;
  text-decoration-line: underline;
  line-height: 1.333;
  color: #383086;
}
.ministry-of-ibcvc-epledge {
  font-family: 'Poppins';
  font-weight: 600;
  font-size: 30px;
  text-decoration-line: underline;
  line-height: 1.333;
  color: #383086;
}
.corporate-prasar-bharati-secretariat-1 .container-10 {
  margin-bottom: 48px;
  display: flex;
  flex-direction: row;
  width: fit-content;
  box-sizing: border-box;
}
.corporate-prasar-bharati-secretariat-1 .image-48 {
  background: url('../assets/images/image_46.png') 50% / cover no-repeat;
  margin-left: 6px;
  width: 321px;
  height: 322px;
}
.corporate-prasar-bharati-secretariat-1 .container-15 {
  margin-right: 102.2px;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
}
.disclaimer-contact-us-help-sitemap-sub13 {
  font-family: 'Poppins';
  font-weight: 600;
  font-size: 30px;
  text-decoration-line: underline;
  line-height: 1.333;
  color: #383086;
}
.disclaimer-contact-us-help-sitemap-sub11 {
  font-family: 'Poppins';
  font-weight: 600;
  font-size: 30px;
  text-decoration-line: underline;
  line-height: 1.333;
  color: #383086;
}
.disclaimer-contact-us-help-sitemap-sub10 {
  font-family: 'Poppins';
  font-weight: 600;
  font-size: 30px;
  text-decoration-line: underline;
  line-height: 1.333;
  color: #383086;
}
.disclaimer-contact-us-help-sitemap {
  font-family: 'Poppins';
  font-weight: 600;
  font-size: 30px;
  text-decoration-line: underline;
  line-height: 1.333;
  color: #383086;
}
.corporate-prasar-bharati-secretariat-1 .disclaimer-contact-us-help-sitemap {
  margin: 9.3px 0 317.4px 0;
  overflow-wrap: break-word;
  font-family: 'Poppins';
  font-weight: 600;
  font-size: 30px;
  color: #383086;
}
.corporate-prasar-bharati-secretariat-1 .container-28 {
  margin-bottom: 3px;
  display: flex;
  flex-direction: row;
  width: fit-content;
  box-sizing: border-box;
}
.corporate-prasar-bharati-secretariat-1 .get-news-onair-app {
  margin-left: 8.6px;
  overflow-wrap: break-word;
  font-family: 'Poppins';
  font-weight: 600;
  font-size: 30px;
  color: #383086;
}
.corporate-prasar-bharati-secretariat-1 .container-7 {
  background: #FFFFFF;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 105.3px 0 114px 0;
  width: 1728px;
  box-sizing: border-box;
}
.corporate-prasar-bharati-secretariat-1 .container-20 {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  width: 1728px;
  height: fit-content;
  box-sizing: border-box;
}
.corporate-prasar-bharati-secretariat-1 .whats-new {
  margin-right: 28.5px;
  width: 193px;
  overflow-wrap: break-word;
  font-family: 'Staatliches';
  font-weight: 400;
  font-size: 46px;
  color: #FFFFFF;
}
.corporate-prasar-bharati-secretariat-1 .about-us {
  overflow-wrap: break-word;
  font-family: 'Staatliches';
  font-weight: 400;
  font-size: 46px;
  color: #FFFFFF;
}
.corporate-prasar-bharati-secretariat-1 .related-links {
  overflow-wrap: break-word;
  font-family: 'Staatliches';
  font-weight: 400;
  font-size: 46px;
  color: #FFFFFF;
}
.corporate-prasar-bharati-secretariat-1 .prasar-bharati {
  overflow-wrap: break-word;
  font-family: 'Staatliches';
  font-weight: 400;
  font-size: 46px;
  color: #FFFFFF;
}
.corporate-prasar-bharati-secretariat-1 .container-24 {
  background: #383086;
  position: absolute;
  left: -4px;
  bottom: 667px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 34px 171.8px 22px 0;
  width: 1728px;
  height: 113px;
  box-sizing: border-box;
}
.corporate-prasar-bharati-secretariat-1 .firstline {
  width: 73px;
  height: 71.3px;
}
.corporate-prasar-bharati-secretariat-1 .vuesaxbrokenfirstline {
  position: absolute;
  left: 50px;
  top: 252.2px;
  display: flex;
  width: 73px;
  height: 71.3px;
  box-sizing: border-box;
}
.corporate-prasar-bharati-secretariat-1 {
  background: #F1F4FD;
  display: flex;
  padding: 18px 5px 0 0;
  width: 1728px;
  box-sizing: border-box;
}
