.corporate-prasar-bharati-secretariat-2 .frame-4 {
  border-radius: 26px;
  position: absolute;
  left: 50%;
  top: 178px;
  translate: -50% 0;
  width: 1043px;
  height: 88px;
}
.corporate-prasar-bharati-secretariat-2 .download-removebg-preview-156 {
  background: url('../assets/images/download_removebg_preview_153.png') 50% / cover no-repeat;
  position: absolute;
  left: 66px;
  top: 128px;
  width: 194px;
  height: 194px;
}
.corporate-prasar-bharati-secretariat-2 .download-removebg-preview-194 {
  background: url('../assets/images/download_removebg_preview_191.png') 50% / cover no-repeat;
  margin: 0 0 18px 4px;
  align-self: center;
  width: 70px;
  height: 114px;
}
.corporate-prasar-bharati-secretariat-2 .search {
  margin: 3px 20px 11px 0;
  display: inline-block;
  width: 112px;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 600;
  font-size: 33px;
  color: #383086;
}
.corporate-prasar-bharati-secretariat-2 .sign-up {
  margin: 12px 6.4px 13px 0;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 700;
  font-size: 24px;
  color: #3A3085;
}
.corporate-prasar-bharati-secretariat-2 .login {
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 700;
  font-size: 24px;
  color: #F1F4FD;
}
.corporate-prasar-bharati-secretariat-2 .container-56 {
  border-radius: 14px;
  background: #3A3085;
  position: relative;
  padding: 12px 20px 13px 20px;
  width: 109px;
  box-sizing: border-box;
}
.corporate-prasar-bharati-secretariat-2 .container-25 {
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
}
.corporate-prasar-bharati-secretariat-2 .container {
  margin: 0 49px 40px 49px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 1287px;
  box-sizing: border-box;
}
.corporate-prasar-bharati-secretariat-2 .home {
  overflow-wrap: break-word;
  font-family: 'Poppins';
  font-weight: 500;
  font-size: 28px;
  color: #383086;
}
.corporate-prasar-bharati-secretariat-2 .group-42 {
  margin: 14px 0 9px 0;
  display: flex;
  box-sizing: border-box;
}
.corporate-prasar-bharati-secretariat-2 .corporate {
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 600;
  font-size: 28px;
  color: #FFFFFF;
}
.corporate-prasar-bharati-secretariat-2 .group-43 {
  border-radius: 13px;
  background: #383086;
  position: relative;
  display: flex;
  padding: 17px 15.5px 14px 16px;
  box-sizing: border-box;
}
.corporate-prasar-bharati-secretariat-2 .listeners {
  margin: 18px 0 13px 0;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 500;
  font-size: 28px;
  color: #383086;
}
.corporate-prasar-bharati-secretariat-2 .viewers {
  margin: 18px 0 13px 0;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 500;
  font-size: 28px;
  color: #383086;
}
.corporate-prasar-bharati-secretariat-2 .clients {
  margin: 18px 0 13px 0;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 500;
  font-size: 28px;
  color: #383086;
}
.corporate-prasar-bharati-secretariat-2 .talent {
  margin: 18px 0 13px 0;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 500;
  font-size: 28px;
  color: #383086;
}
.corporate-prasar-bharati-secretariat-2 .latest {
  margin: 18px 0 13px 0;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 500;
  font-size: 28px;
  color: #383086;
}
.corporate-prasar-bharati-secretariat-2 .blog {
  margin: 18px 0 13px 0;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 500;
  font-size: 28px;
  color: #383086;
}
.corporate-prasar-bharati-secretariat-2 .container-45 {
  box-shadow: 9px 7px 4px 0px rgba(0, 0, 0, 0.25);
  border-radius: 17px;
  background: #FFFFFF;
  position: relative;
  margin-right: 40px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 6px 17.6px 8px 46px;
  width: 1418px;
  box-sizing: border-box;
}
.corporate-prasar-bharati-secretariat-2 .shape-1 {
  width: 41px;
  height: 44px;
}
.corporate-prasar-bharati-secretariat-2 .group-44 {
  border-radius: 30px;
  background: #3A3085;
  position: relative;
  margin: 11px 0 8px 0;
  display: flex;
  padding: 9px 9px 7px 10px;
  width: 60px;
  height: 60px;
  box-sizing: border-box;
}
.corporate-prasar-bharati-secretariat-2 .container-53 {
  margin: 0 53px 29px 157px;
  display: flex;
  flex-direction: row;
  width: 1518px;
  box-sizing: border-box;
}
.corporate-prasar-bharati-secretariat-2 .corporate-1 {
  margin: 0 2px 45px 0;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 700;
  font-size: 35px;
  color: #383086;
}
.corporate-prasar-bharati-secretariat-2 .mission-objectives {
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 700;
  font-size: 28px;
  color: #383086;
}
.corporate-prasar-bharati-secretariat-2 .container-47 {
  box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.25);
  border-radius: 14px;
  background: #F1F4FD;
  position: relative;
  margin-bottom: 25px;
  display: flex;
  padding: 25px 35.4px 22px 33.4px;
  box-sizing: border-box;
}
.corporate-prasar-bharati-secretariat-2 .prasar-bharati-board {
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 700;
  font-size: 28px;
  color: #383086;
}
.corporate-prasar-bharati-secretariat-2 .container-35 {
  box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.25);
  border-radius: 14px;
  background: #F1F4FD;
  position: relative;
  margin-bottom: 25px;
  display: flex;
  padding: 25px 2px 22px 0;
  width: 355px;
  box-sizing: border-box;
}
.corporate-prasar-bharati-secretariat-2 .prasar-bharati-act {
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 700;
  font-size: 28px;
  color: #383086;
}
.corporate-prasar-bharati-secretariat-2 .container-6 {
  box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.25);
  border-radius: 14px;
  background: #F1F4FD;
  position: relative;
  margin-bottom: 25px;
  display: flex;
  padding: 25px 3px 22px 0;
  width: 355px;
  box-sizing: border-box;
}
.corporate-prasar-bharati-secretariat-2 .pb-secretariat {
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 700;
  font-size: 28px;
  color: #FFFFFF;
}
.corporate-prasar-bharati-secretariat-2 .container-54 {
  box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.25);
  border-radius: 14px;
  background: #383086;
  position: relative;
  margin-bottom: 25px;
  display: flex;
  padding: 25px 3px 22px 0;
  width: 355px;
  box-sizing: border-box;
}
.corporate-prasar-bharati-secretariat-2 .all-india-radio {
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 700;
  font-size: 28px;
  color: #383086;
}
.corporate-prasar-bharati-secretariat-2 .container-1 {
  box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.25);
  border-radius: 14px;
  background: #F1F4FD;
  position: relative;
  margin-bottom: 25px;
  display: flex;
  padding: 25px 3px 22px 0;
  width: 355px;
  box-sizing: border-box;
}
.corporate-prasar-bharati-secretariat-2 .doordarshan {
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 700;
  font-size: 28px;
  color: #383086;
}
.corporate-prasar-bharati-secretariat-2 .container-61 {
  box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.25);
  border-radius: 14px;
  background: #F1F4FD;
  position: relative;
  margin-bottom: 25px;
  display: flex;
  padding: 25px 3px 22px 0;
  width: 355px;
  box-sizing: border-box;
}
.corporate-prasar-bharati-secretariat-2 .pbns-dp {
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 700;
  font-size: 28px;
  color: #383086;
}
.corporate-prasar-bharati-secretariat-2 .container-11 {
  box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.25);
  border-radius: 14px;
  background: #F1F4FD;
  position: relative;
  margin-bottom: 25px;
  display: flex;
  padding: 25px 17px 22px 0;
  width: 355px;
  box-sizing: border-box;
}
.corporate-prasar-bharati-secretariat-2 .air-news {
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 700;
  font-size: 28px;
  color: #383086;
}
.corporate-prasar-bharati-secretariat-2 .container-20 {
  box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.25);
  border-radius: 14px;
  background: #F1F4FD;
  position: relative;
  margin-bottom: 25px;
  display: flex;
  padding: 25px 2px 22px 0;
  width: 355px;
  box-sizing: border-box;
}
.corporate-prasar-bharati-secretariat-2 .dd-news {
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 700;
  font-size: 28px;
  color: #383086;
}
.corporate-prasar-bharati-secretariat-2 .container-51 {
  box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.25);
  border-radius: 14px;
  background: #F1F4FD;
  position: relative;
  margin-bottom: 25px;
  display: flex;
  padding: 25px 3px 22px 0;
  width: 355px;
  box-sizing: border-box;
}
.corporate-prasar-bharati-secretariat-2 .prasar-bharati-archives {
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 700;
  font-size: 28px;
  color: #383086;
}
.corporate-prasar-bharati-secretariat-2 .container-44 {
  box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.25);
  border-radius: 14px;
  background: #F1F4FD;
  position: relative;
  margin-bottom: 25px;
  display: flex;
  padding: 25px 18.3px 22px 15.3px;
  box-sizing: border-box;
}
.corporate-prasar-bharati-secretariat-2 .nabm {
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 700;
  font-size: 28px;
  color: #383086;
}
.corporate-prasar-bharati-secretariat-2 .container-48 {
  box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.25);
  border-radius: 14px;
  background: #F1F4FD;
  position: relative;
  margin-bottom: 25px;
  display: flex;
  padding: 25px 16px 22px 0;
  width: 355px;
  box-sizing: border-box;
}
.corporate-prasar-bharati-secretariat-2 .ccw {
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 700;
  font-size: 28px;
  color: #383086;
}
.corporate-prasar-bharati-secretariat-2 .container-21 {
  box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.25);
  border-radius: 14px;
  background: #F1F4FD;
  position: relative;
  margin-bottom: 25px;
  display: flex;
  padding: 25px 3px 22px 0;
  width: 355px;
  box-sizing: border-box;
}
.corporate-prasar-bharati-secretariat-2 .research-development {
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 700;
  font-size: 28px;
  color: #383086;
}
.corporate-prasar-bharati-secretariat-2 .container-43 {
  box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.25);
  border-radius: 14px;
  background: #F1F4FD;
  position: relative;
  margin-bottom: 25px;
  display: flex;
  padding: 25px 7.3px 22px 5.3px;
  box-sizing: border-box;
}
.corporate-prasar-bharati-secretariat-2 .ministry-of-ib {
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 700;
  font-size: 28px;
  color: #383086;
}
.corporate-prasar-bharati-secretariat-2 .container-18 {
  box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.25);
  border-radius: 14px;
  background: #F1F4FD;
  position: relative;
  display: flex;
  padding: 25px 2px 22px 0;
  width: 355px;
  box-sizing: border-box;
}
.corporate-prasar-bharati-secretariat-2 .container-42 {
  box-shadow: 10px 4px 4px 0px rgba(0, 0, 0, 0.15);
  border-radius: 30px;
  border: 1px solid rgba(56, 48, 134, 0.51);
  background: #FFFFFF;
  position: relative;
  margin: 0 59px 1260px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 55px 19px 43px 19px;
  box-sizing: border-box;
}
.corporate-prasar-bharati-secretariat-2 .prasar-bharati-secretariat {
  margin: 0 39.4px 51px 39.4px;
  display: inline-block;
  align-self: flex-start;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 700;
  font-size: 49px;
  color: #383086;
}
.corporate-prasar-bharati-secretariat-2 .home-1 {
  margin: 13px 19.5px 15px 0;
  display: inline-block;
  width: 91px;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 500;
  font-size: 32px;
  color: #383086;
}
.corporate-prasar-bharati-secretariat-2 .whos-who {
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 600;
  font-size: 32px;
  color: #FFFFFF;
}
.corporate-prasar-bharati-secretariat-2 .container-14 {
  border-radius: 17px;
  border: 1px solid #383086;
  background: #383086;
  position: relative;
  display: flex;
  padding: 13px 20.9px 15px 20.9px;
  width: 250px;
  box-sizing: border-box;
}
.corporate-prasar-bharati-secretariat-2 .contacts {
  margin: 14px 0;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 500;
  font-size: 32px;
  color: #383086;
}
.corporate-prasar-bharati-secretariat-2 .container-29 {
  box-shadow: 9px 7px 4px 0px rgba(0, 0, 0, 0.25);
  border-radius: 17px;
  border: 1px solid #383086;
  background: #FFFFFF;
  position: relative;
  margin: 0 41px 69px 41px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-self: flex-start;
  padding: 5px 56px 7px 54px;
  width: 738px;
  box-sizing: border-box;
}
.corporate-prasar-bharati-secretariat-2 .landline {
  margin-right: 18px;
  width: 126px;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 700;
  font-size: 30px;
  color: #FFFFFF;
}
.corporate-prasar-bharati-secretariat-2 .email-ids {
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 700;
  font-size: 30px;
  color: #FFFFFF;
}
.corporate-prasar-bharati-secretariat-2 .container-57 {
  border: 1px solid #383086;
  background: #383086;
  position: relative;
  margin-bottom: 116px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 17px 101.2px 19px 0;
  width: 1018px;
  box-sizing: border-box;
}
.corporate-prasar-bharati-secretariat-2 .shri-navneet-kumar-sehgal-ias-retd {
  margin-right: 22px;
  width: 180px;
  text-align: center;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 700;
  font-size: 18px;
  color: #383086;
}
.corporate-prasar-bharati-secretariat-2 .chairman-1 {
  margin-bottom: 22px;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 700;
  font-size: 18px;
  color: #383086;
}
.corporate-prasar-bharati-secretariat-2 .container {
  text-align: center;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 700;
  font-size: 18px;
  color: #383086;
}
.corporate-prasar-bharati-secretariat-2 .chairmanprasarbharati-gov-in {
  text-align: center;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 700;
  font-size: 18px;
  text-decoration-line: underline;
  color: #383086;
}
.corporate-prasar-bharati-secretariat-2 .container-31 {
  margin: 0 94.3px 15px 30.8px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 892.9px;
  box-sizing: border-box;
}
.corporate-prasar-bharati-secretariat-2 .sh-ashok-kumar {
  margin: 11px 11px 11px 0;
  display: inline-block;
  width: 180px;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 700;
  font-size: 18px;
  color: #383086;
}
.corporate-prasar-bharati-secretariat-2 .pps {
  margin: 12px 0 10px 0;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 700;
  font-size: 18px;
  color: #383086;
}
.corporate-prasar-bharati-secretariat-2 .container-1 {
  text-align: center;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 700;
  font-size: 18px;
  color: #383086;
}
.corporate-prasar-bharati-secretariat-2 .container-49 {
  margin: 0 43.3px 22px 43.3px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-self: flex-start;
  width: 616.4px;
  box-sizing: border-box;
}
.corporate-prasar-bharati-secretariat-2 .sh-deepak-pant {
  margin: 0 11px 22px 0;
  display: inline-block;
  width: 180px;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 700;
  font-size: 18px;
  color: #383086;
}
.corporate-prasar-bharati-secretariat-2 .pa {
  margin-bottom: 22px;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 700;
  font-size: 18px;
  color: #383086;
}
.corporate-prasar-bharati-secretariat-2 .container-2 {
  text-align: center;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 700;
  font-size: 18px;
  color: #383086;
}
.corporate-prasar-bharati-secretariat-2 .container-28 {
  margin: 0 46.5px 125px 46.5px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-self: flex-start;
  width: 613.2px;
  box-sizing: border-box;
}
.corporate-prasar-bharati-secretariat-2 .shri-gaurav-dwivedi-ias {
  margin-right: 22px;
  width: 180px;
  text-align: center;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 700;
  font-size: 18px;
  color: #383086;
}
.corporate-prasar-bharati-secretariat-2 .ceo {
  margin: 5px 0 17px 0;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 700;
  font-size: 18px;
  color: #383086;
}
.corporate-prasar-bharati-secretariat-2 .container-3 {
  margin: 6px 0 16px 0;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 700;
  font-size: 18px;
  color: #383086;
}
.ceoprasarbharati-gov-in-sub7 {
  font-family: 'Inter';
  font-weight: 700;
  font-size: 18px;
  text-decoration-line: underline;
  line-height: 1.333;
  color: #383086;
}
.ceoprasarbharati-gov-in {
  font-family: 'Inter';
  font-weight: 700;
  font-size: 18px;
  text-decoration-line: underline;
  line-height: 1.333;
  color: #383086;
}
.corporate-prasar-bharati-secretariat-2 .ceoprasarbharati-gov-in {
  margin: 4px 0 18px 0;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 700;
  font-size: 18px;
  text-decoration-line: underline;
  color: #383086;
}
.corporate-prasar-bharati-secretariat-2 .container-60 {
  margin: 0 53.4px 25px 53.2px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 911.4px;
  box-sizing: border-box;
}
.corporate-prasar-bharati-secretariat-2 .sh-kuldip-kumar-pr {
  margin: 2px 11px 0 0;
  display: inline-block;
  width: 180px;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 700;
  font-size: 18px;
  color: #383086;
}
.corporate-prasar-bharati-secretariat-2 .ps {
  margin-bottom: 2px;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 700;
  font-size: 18px;
  color: #383086;
}
.corporate-prasar-bharati-secretariat-2 .container-4 {
  margin-bottom: 2px;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 700;
  font-size: 18px;
  color: #383086;
}
.corporate-prasar-bharati-secretariat-2 .container-16 {
  margin: 0 22.2px 42px 22.2px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-self: flex-start;
  width: 612.2px;
  box-sizing: border-box;
}
.corporate-prasar-bharati-secretariat-2 .sh-navin-kumar {
  margin: 1px 11px 0 0;
  display: inline-block;
  width: 180px;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 700;
  font-size: 18px;
  color: #383086;
}
.corporate-prasar-bharati-secretariat-2 .ps-1 {
  margin-bottom: 1px;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 700;
  font-size: 18px;
  color: #383086;
}
.corporate-prasar-bharati-secretariat-2 .container-5 {
  margin-bottom: 1px;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 700;
  font-size: 18px;
  color: #383086;
}
.corporate-prasar-bharati-secretariat-2 .container-15 {
  margin: 0 36.4px 39px 36.4px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-self: flex-start;
  width: 599.1px;
  box-sizing: border-box;
}
.corporate-prasar-bharati-secretariat-2 .avinash-kr-kashyap {
  margin: 0 11px 2px 0;
  display: inline-block;
  width: 180px;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 700;
  font-size: 18px;
  color: #383086;
}
.corporate-prasar-bharati-secretariat-2 .assistant-director {
  margin-bottom: 2px;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 700;
  font-size: 18px;
  color: #383086;
}
.corporate-prasar-bharati-secretariat-2 .container-6 {
  margin-top: 2px;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 700;
  font-size: 18px;
  color: #383086;
}
.corporate-prasar-bharati-secretariat-2 .container-26 {
  margin: 0 20.6px 134px 20.6px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-self: flex-start;
  width: 614.8px;
  box-sizing: border-box;
}
.corporate-prasar-bharati-secretariat-2 .shri-gaurav-dwivedi-ias-1 {
  margin: 0 22px 5px 0;
  display: inline-block;
  width: 180px;
  text-align: center;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 700;
  font-size: 18px;
  color: #383086;
}
.corporate-prasar-bharati-secretariat-2 .additional-charge-of-member-p {
  margin-top: 5px;
  display: inline-block;
  text-align: center;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 700;
  font-size: 18px;
  color: #383086;
}
.corporate-prasar-bharati-secretariat-2 .container-10 {
  margin: 1px 0 4px 0;
  display: inline-block;
  text-align: center;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 700;
  font-size: 18px;
  color: #383086;
}
.corporate-prasar-bharati-secretariat-2 .container-10 {
  margin: 0 53.2px 119px 53.2px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-self: flex-start;
  width: 605.1px;
  box-sizing: border-box;
}
.corporate-prasar-bharati-secretariat-2 .shri-gaurav-dwivedi-ias-2 {
  margin: 0 22px 5px 0;
  display: inline-block;
  width: 180px;
  text-align: center;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 700;
  font-size: 18px;
  color: #383086;
}
.corporate-prasar-bharati-secretariat-2 .additional-charge-of-member-finance {
  margin-top: 5px;
  display: inline-block;
  text-align: center;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 700;
  font-size: 18px;
  color: #383086;
}
.corporate-prasar-bharati-secretariat-2 .container-11 {
  margin: 1px 0 4px 0;
  display: inline-block;
  text-align: center;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 700;
  font-size: 18px;
  color: #383086;
}
.corporate-prasar-bharati-secretariat-2 .container-59 {
  margin: 0 53.2px 20px 53.2px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-self: flex-start;
  width: 605.1px;
  box-sizing: border-box;
}
.corporate-prasar-bharati-secretariat-2 .smt-rajni-sharma {
  margin: 10px 11px 12px 0;
  display: inline-block;
  width: 180px;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 700;
  font-size: 18px;
  color: #383086;
}
.corporate-prasar-bharati-secretariat-2 .pps-to-member-finance {
  text-align: center;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 700;
  font-size: 18px;
  color: #383086;
}
.corporate-prasar-bharati-secretariat-2 .container-55 {
  margin: 0 28.4px 29px 28.4px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-self: flex-start;
  width: 397.4px;
  box-sizing: border-box;
}
.corporate-prasar-bharati-secretariat-2 .sh-subhash-chand {
  margin: 0 11px 1px 0;
  display: inline-block;
  width: 180px;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 700;
  font-size: 18px;
  color: #383086;
}
.corporate-prasar-bharati-secretariat-2 .pps-2 {
  margin-top: 1px;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 700;
  font-size: 18px;
  color: #383086;
}
.corporate-prasar-bharati-secretariat-2 .container-33 {
  margin: 0 22.3px 146px 22.3px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-self: flex-start;
  width: 328.2px;
  box-sizing: border-box;
}
.corporate-prasar-bharati-secretariat-2 .ein-c {
  margin: 0 330px 144px 0;
  display: inline-block;
  align-self: center;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 700;
  font-size: 18px;
  color: #383086;
}
.corporate-prasar-bharati-secretariat-2 .sh-prem-shankar-srivastava {
  margin: 0 22px 5px 0;
  display: inline-block;
  width: 180px;
  text-align: center;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 700;
  font-size: 18px;
  color: #383086;
}
.corporate-prasar-bharati-secretariat-2 .additional-charge-of-cvo {
  margin-top: 5px;
  display: inline-block;
  text-align: center;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 700;
  font-size: 18px;
  color: #383086;
}
.corporate-prasar-bharati-secretariat-2 .container-9 {
  margin: 6px 0 21px 0;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 700;
  font-size: 18px;
  color: #383086;
}
.corporate-prasar-bharati-secretariat-2 .cvopbprasarbharati-gov-in {
  margin: 4px 0 23px 0;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 700;
  font-size: 18px;
  text-decoration-line: underline;
  color: #383086;
}
.corporate-prasar-bharati-secretariat-2 .container-4 {
  margin: 0 52.3px 129px 20.6px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 945.1px;
  box-sizing: border-box;
}
.corporate-prasar-bharati-secretariat-2 .sh-mukesh-kumar {
  margin: 2px 11px 21px 0;
  display: inline-block;
  width: 180px;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 700;
  font-size: 18px;
  color: #383086;
}
.corporate-prasar-bharati-secretariat-2 .adg-hr-adg-admin {
  margin-top: 1px;
  display: inline-block;
  text-align: center;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 700;
  font-size: 18px;
  color: #383086;
}
.corporate-prasar-bharati-secretariat-2 .container-7 {
  margin: 2px 0 21px 0;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 700;
  font-size: 18px;
  color: #383086;
}
.corporate-prasar-bharati-secretariat-2 .mukesh-kmr-65-gov-in {
  margin-bottom: 23px;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 700;
  font-size: 18px;
  text-decoration-line: underline;
  color: #383086;
}
.corporate-prasar-bharati-secretariat-2 .container-30 {
  margin: 0 65px 16px 26.4px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 926.5px;
  box-sizing: border-box;
}
.corporate-prasar-bharati-secretariat-2 .sh-shailendra-gopal {
  margin: 1px 22px 0 0;
  display: inline-block;
  width: 180px;
  text-align: center;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 700;
  font-size: 18px;
  color: #383086;
}
.corporate-prasar-bharati-secretariat-2 .pps-1 {
  margin-bottom: 23px;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 700;
  font-size: 18px;
  color: #383086;
}
.corporate-prasar-bharati-secretariat-2 .container-37 {
  margin: 0 44.9px 19px 44.9px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-self: flex-start;
  width: 305.6px;
  box-sizing: border-box;
}
.corporate-prasar-bharati-secretariat-2 .sh-chiranjeev-kumar-dhawan {
  margin-right: 22px;
  width: 180px;
  text-align: center;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 700;
  font-size: 18px;
  color: #383086;
}
.corporate-prasar-bharati-secretariat-2 .ps-2 {
  margin: 6px 0 16px 0;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 700;
  font-size: 18px;
  color: #383086;
}
.corporate-prasar-bharati-secretariat-2 .container-9 {
  margin: 0 41.5px 21px 41.5px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-self: flex-start;
  width: 298.3px;
  box-sizing: border-box;
}
.corporate-prasar-bharati-secretariat-2 .sh-anil-srivastava {
  margin-right: 11px;
  width: 180px;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 700;
  font-size: 18px;
  color: #383086;
}
.corporate-prasar-bharati-secretariat-2 .sh-anil-srivastava-1 {
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 700;
  font-size: 18px;
  color: #383086;
}
.corporate-prasar-bharati-secretariat-2 .container-8 {
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 700;
  font-size: 18px;
  color: #383086;
}
.corporate-prasar-bharati-secretariat-2 .sranil-66-gov-in-sh {
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 700;
  font-size: 18px;
  color: #383086;
}
.sranil-66-gov-in-sh-sub5 {
  font-family: 'Inter';
  font-weight: 700;
  font-size: 18px;
  text-decoration-line: underline;
  line-height: 1.333;
}
.corporate-prasar-bharati-secretariat-2 .container-58 {
  margin: 0 26.4px 48px 26.4px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-self: flex-start;
  width: 882.2px;
  box-sizing: border-box;
}
.corporate-prasar-bharati-secretariat-2 .sh-rajneesh-bhardwaj {
  margin-right: 22px;
  width: 180px;
  text-align: center;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 700;
  font-size: 18px;
  color: #383086;
}
.corporate-prasar-bharati-secretariat-2 .pss {
  margin: 5px 0 17px 0;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 700;
  font-size: 18px;
  color: #383086;
}
.corporate-prasar-bharati-secretariat-2 .container-39 {
  margin: 0 51.4px 25px 51.4px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-self: flex-start;
  width: 300.2px;
  box-sizing: border-box;
}
.corporate-prasar-bharati-secretariat-2 .sh-ajay-gupta {
  margin-right: 11px;
  width: 180px;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 700;
  font-size: 18px;
  color: #383086;
}
.corporate-prasar-bharati-secretariat-2 .ps-3 {
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 700;
  font-size: 18px;
  color: #383086;
}
.corporate-prasar-bharati-secretariat-2 .container-36 {
  margin: 0 43.6px 38px 43.6px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-self: flex-start;
  width: 295.1px;
  box-sizing: border-box;
}
.corporate-prasar-bharati-secretariat-2 .ms-anuradha-agrawal {
  margin: 2px 22px 5px 0;
  display: inline-block;
  width: 180px;
  text-align: center;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 700;
  font-size: 18px;
  color: #383086;
}
.corporate-prasar-bharati-secretariat-2 .adg-nabm-innovation {
  margin-top: 7px;
  display: inline-block;
  text-align: center;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 700;
  font-size: 18px;
  color: #383086;
}
.corporate-prasar-bharati-secretariat-2 .container-12 {
  margin: 6px 0 23px 0;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 700;
  font-size: 18px;
  color: #383086;
}
.corporate-prasar-bharati-secretariat-2 .anuradha-adgprasarbharati-gov-in {
  margin-bottom: 7px;
  display: inline-block;
  text-align: center;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 700;
  font-size: 18px;
  text-decoration-line: underline;
  color: #383086;
}
.corporate-prasar-bharati-secretariat-2 .container-41 {
  margin: 0 93.3px 16px 47px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 877.7px;
  box-sizing: border-box;
}
.corporate-prasar-bharati-secretariat-2 .ms-sunita-vashishtha {
  margin-right: 22px;
  width: 180px;
  text-align: center;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 700;
  font-size: 18px;
  color: #383086;
}
.corporate-prasar-bharati-secretariat-2 .ps-4 {
  margin: 5px 0 17px 0;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 700;
  font-size: 18px;
  color: #383086;
}
.corporate-prasar-bharati-secretariat-2 .container-27 {
  margin: 0 53px 27px 53px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-self: flex-start;
  width: 285.8px;
  box-sizing: border-box;
}
.corporate-prasar-bharati-secretariat-2 .sh-ved-prakash {
  margin: 8px 11px 14px 0;
  display: inline-block;
  width: 180px;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 700;
  font-size: 18px;
  color: #383086;
}
.corporate-prasar-bharati-secretariat-2 .adg-tech {
  margin: 7px 0 15px 0;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 700;
  font-size: 18px;
  color: #383086;
}
.corporate-prasar-bharati-secretariat-2 .container-13 {
  margin: 6px 0 16px 0;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 700;
  font-size: 18px;
  color: #383086;
}
.corporate-prasar-bharati-secretariat-2 .vedddgprasarbharati-gov-in {
  text-align: center;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 700;
  font-size: 18px;
  text-decoration-line: underline;
  color: #383086;
}
.corporate-prasar-bharati-secretariat-2 .container-46 {
  margin: 0 92.2px 16px 37px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 888.9px;
  box-sizing: border-box;
}
.corporate-prasar-bharati-secretariat-2 .sh-sourav {
  margin: 2px 11px 20px 0;
  display: inline-block;
  width: 180px;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 700;
  font-size: 18px;
  color: #383086;
}
.corporate-prasar-bharati-secretariat-2 .steno {
  margin: 7px 0 15px 0;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 700;
  font-size: 18px;
  color: #383086;
}
.corporate-prasar-bharati-secretariat-2 .container-14 {
  margin: 6px 0 16px 0;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 700;
  font-size: 18px;
  color: #383086;
}
.corporate-prasar-bharati-secretariat-2 .anuradha-adgprasarbharati-gov-in-1 {
  text-align: center;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 700;
  font-size: 18px;
  text-decoration-line: underline;
  color: #383086;
}
.corporate-prasar-bharati-secretariat-2 .container-23 {
  margin: 0 93.3px 29px 61.2px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 863.6px;
  box-sizing: border-box;
}
.corporate-prasar-bharati-secretariat-2 .ms-anuradha-agrawal-1 {
  margin: 2px 22px 5px 0;
  display: inline-block;
  width: 180px;
  text-align: center;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 700;
  font-size: 18px;
  color: #383086;
}
.corporate-prasar-bharati-secretariat-2 .adg-nabm-innovation-1 {
  margin-top: 7px;
  display: inline-block;
  text-align: center;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 700;
  font-size: 18px;
  color: #383086;
}
.corporate-prasar-bharati-secretariat-2 .container-15 {
  margin: 6px 0 23px 0;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 700;
  font-size: 18px;
  color: #383086;
}
.corporate-prasar-bharati-secretariat-2 .anuradha-adgprasarbharati-gov-in-2 {
  margin-bottom: 7px;
  display: inline-block;
  text-align: center;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 700;
  font-size: 18px;
  text-decoration-line: underline;
  color: #383086;
}
.corporate-prasar-bharati-secretariat-2 .container-24 {
  margin: 0 93.3px 2px 47px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 877.7px;
  box-sizing: border-box;
}
.corporate-prasar-bharati-secretariat-2 .line-50 {
  background: #383086;
  margin-right: 1px;
  width: 1017px;
  height: 0px;
}
.corporate-prasar-bharati-secretariat-2 .container-7 {
  position: relative;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}
.corporate-prasar-bharati-secretariat-2 .line-18 {
  background: #383086;
  position: absolute;
  left: 29px;
  bottom: 135px;
  width: 2373px;
  height: 0px;
}
.corporate-prasar-bharati-secretariat-2 .line-19 {
  background: #383086;
  position: absolute;
  left: 248px;
  bottom: 135px;
  width: 2373px;
  height: 0px;
}
.corporate-prasar-bharati-secretariat-2 .line-20 {
  background: #383086;
  position: absolute;
  left: 495px;
  bottom: 135px;
  width: 2373px;
  height: 0px;
}
.corporate-prasar-bharati-secretariat-2 .line-21 {
  background: #383086;
  position: absolute;
  right: 361px;
  bottom: 135px;
  width: 2373px;
  height: 0px;
}
.corporate-prasar-bharati-secretariat-2 .line-22 {
  background: #383086;
  position: absolute;
  right: 27px;
  bottom: 135px;
  width: 2373px;
  height: 0px;
}
.corporate-prasar-bharati-secretariat-2 .line-23 {
  background: #FFFFFF;
  position: absolute;
  left: 248px;
  top: 341px;
  width: 72px;
  height: 0px;
}
.corporate-prasar-bharati-secretariat-2 .line-24 {
  background: #FFFFFF;
  position: absolute;
  left: 495px;
  top: 341px;
  width: 72px;
  height: 0px;
}
.corporate-prasar-bharati-secretariat-2 .line-25 {
  background: #FFFFFF;
  position: absolute;
  top: 341px;
  right: 361px;
  width: 72px;
  height: 0px;
}
.corporate-prasar-bharati-secretariat-2 .designation {
  position: absolute;
  left: 59.9px;
  top: 358px;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 700;
  font-size: 30px;
  color: #FFFFFF;
}
.corporate-prasar-bharati-secretariat-2 .name {
  position: absolute;
  left: 90.4px;
  top: 358px;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 600;
  font-size: 30px;
  color: #FFFFFF;
}
.corporate-prasar-bharati-secretariat-2 .chairman {
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 700;
  font-size: 30px;
  color: #383086;
}
.corporate-prasar-bharati-secretariat-2 .container-52 {
  border: 1px solid #383086;
  background: #FFFFFF;
  position: absolute;
  left: 29px;
  top: 413px;
  right: 28px;
  display: flex;
  padding: 35.8px 82.8px 26.2px 0;
  box-sizing: border-box;
}
.corporate-prasar-bharati-secretariat-2 .line-28 {
  background: #383086;
  margin-bottom: 34.8px;
  width: 1017px;
  height: 0px;
}
.corporate-prasar-bharati-secretariat-2 .chief-executive-officer {
  margin-right: 83.8px;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 700;
  font-size: 30px;
  color: #383086;
}
.corporate-prasar-bharati-secretariat-2 .container-50 {
  border: 1px solid #383086;
  background: #FFFFFF;
  position: absolute;
  left: 29px;
  top: 710px;
  right: 28px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 26.2px;
  box-sizing: border-box;
}
.corporate-prasar-bharati-secretariat-2 .line-33 {
  background: #383086;
  margin-bottom: 30.8px;
  width: 1017px;
  height: 0px;
}
.corporate-prasar-bharati-secretariat-2 .member-personnel {
  margin-right: 83.8px;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 700;
  font-size: 30px;
  color: #383086;
}
.corporate-prasar-bharati-secretariat-2 .container-5 {
  border: 1px solid #383086;
  background: #FFFFFF;
  position: absolute;
  left: 29px;
  top: 1067px;
  right: 28px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2px 0 28.2px 0;
  box-sizing: border-box;
}
.corporate-prasar-bharati-secretariat-2 .line-34 {
  background: #383086;
  margin-bottom: 31.8px;
  width: 1017px;
  height: 0px;
}
.corporate-prasar-bharati-secretariat-2 .member-finance {
  margin-right: 83.8px;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 700;
  font-size: 30px;
  color: #383086;
}
.corporate-prasar-bharati-secretariat-2 .container-17 {
  border: 1px solid #383086;
  background: #FFFFFF;
  position: absolute;
  left: 29px;
  top: 1230px;
  right: 28px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1px 0 28.2px 0;
  box-sizing: border-box;
}
.corporate-prasar-bharati-secretariat-2 .line-37 {
  background: #383086;
  margin-bottom: 31.8px;
  width: 1017px;
  height: 0px;
}
.corporate-prasar-bharati-secretariat-2 .engineer-in-chief {
  margin-right: 82.8px;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 700;
  font-size: 30px;
  color: #383086;
}
.corporate-prasar-bharati-secretariat-2 .container-3 {
  border: 1px solid #383086;
  background: #FFFFFF;
  position: absolute;
  left: 29px;
  right: 28px;
  bottom: 1214px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1px 0 28.2px 0;
  box-sizing: border-box;
}
.corporate-prasar-bharati-secretariat-2 .line-38 {
  background: #383086;
  margin-bottom: 31.8px;
  width: 1017px;
  height: 0px;
}
.corporate-prasar-bharati-secretariat-2 .chief-vigilance-officer {
  margin-right: 82.8px;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 700;
  font-size: 30px;
  color: #383086;
}
.corporate-prasar-bharati-secretariat-2 .container-2 {
  border: 1px solid #383086;
  background: #FFFFFF;
  position: absolute;
  left: 29px;
  right: 28px;
  bottom: 1039px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1px 0 28.2px 0;
  box-sizing: border-box;
}
.corporate-prasar-bharati-secretariat-2 .additional-director-general {
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 700;
  font-size: 30px;
  color: #383086;
}
.corporate-prasar-bharati-secretariat-2 .container-8 {
  border: 1px solid #383086;
  background: #FFFFFF;
  position: absolute;
  left: 29px;
  right: 28px;
  bottom: 866px;
  display: flex;
  padding: 33.8px 82.8px 28.2px 0;
  box-sizing: border-box;
}
.corporate-prasar-bharati-secretariat-2 .line-26 {
  background: #383086;
  position: absolute;
  left: 29px;
  top: 582px;
  right: 28px;
  height: 0px;
}
.corporate-prasar-bharati-secretariat-2 .line-27 {
  background: #383086;
  position: absolute;
  left: 29px;
  top: 647px;
  right: 28px;
  height: 0px;
}
.corporate-prasar-bharati-secretariat-2 .line-29 {
  background: #383086;
  position: absolute;
  left: 29px;
  top: 809px;
  right: 28px;
  height: 0px;
}
.corporate-prasar-bharati-secretariat-2 .line-30 {
  background: #383086;
  position: absolute;
  left: 29px;
  top: 874px;
  right: 28px;
  height: 0px;
}
.corporate-prasar-bharati-secretariat-2 .line-31 {
  background: #383086;
  position: absolute;
  left: 29px;
  top: 937px;
  right: 28px;
  height: 0px;
}
.corporate-prasar-bharati-secretariat-2 .line-32 {
  background: #383086;
  position: absolute;
  left: 29px;
  top: 1004px;
  right: 28px;
  height: 0px;
}
.corporate-prasar-bharati-secretariat-2 .line-35 {
  background: #383086;
  position: absolute;
  left: 29px;
  top: 1407px;
  right: 28px;
  height: 0px;
}
.corporate-prasar-bharati-secretariat-2 .line-36 {
  background: #383086;
  position: absolute;
  left: 29px;
  right: 28px;
  bottom: 1376px;
  height: 0px;
}
.corporate-prasar-bharati-secretariat-2 .line-39 {
  background: #383086;
  position: absolute;
  left: 29px;
  right: 28px;
  bottom: 865px;
  height: 0px;
}
.corporate-prasar-bharati-secretariat-2 .line-40 {
  background: #383086;
  position: absolute;
  left: 29px;
  right: 28px;
  bottom: 800px;
  height: 0px;
}
.corporate-prasar-bharati-secretariat-2 .line-41 {
  background: #383086;
  position: absolute;
  left: 29px;
  right: 28px;
  bottom: 737px;
  height: 0px;
}
.corporate-prasar-bharati-secretariat-2 .line-42 {
  background: #383086;
  position: absolute;
  left: 29px;
  right: 28px;
  bottom: 670px;
  height: 0px;
}
.corporate-prasar-bharati-secretariat-2 .line-43 {
  background: #383086;
  position: absolute;
  left: 29px;
  right: 28px;
  bottom: 601px;
  height: 0px;
}
.corporate-prasar-bharati-secretariat-2 .line-44 {
  background: #383086;
  position: absolute;
  left: 29px;
  right: 28px;
  bottom: 536px;
  height: 0px;
}
.corporate-prasar-bharati-secretariat-2 .line-45 {
  background: #383086;
  position: absolute;
  left: 29px;
  right: 28px;
  bottom: 473px;
  height: 0px;
}
.corporate-prasar-bharati-secretariat-2 .line-46 {
  background: #383086;
  position: absolute;
  left: 29px;
  right: 28px;
  bottom: 406px;
  height: 0px;
}
.corporate-prasar-bharati-secretariat-2 .line-47 {
  background: #383086;
  position: absolute;
  left: 29px;
  right: 28px;
  bottom: 329px;
  height: 0px;
}
.corporate-prasar-bharati-secretariat-2 .line-48 {
  background: #383086;
  position: absolute;
  left: 29px;
  right: 28px;
  bottom: 264px;
  height: 0px;
}
.corporate-prasar-bharati-secretariat-2 .line-49 {
  background: #383086;
  position: absolute;
  left: 29px;
  right: 28px;
  bottom: 201px;
  height: 0px;
}
.corporate-prasar-bharati-secretariat-2 .container-22 {
  border-radius: 78px;
  background: #FFFFFF;
  position: relative;
  margin-top: 55px;
  display: flex;
  padding: 83px 27px 134px 29px;
  box-sizing: border-box;
}
.corporate-prasar-bharati-secretariat-2 .container-19 {
  margin: 0 46px 253px 156px;
  display: flex;
  flex-direction: row;
  width: fit-content;
  box-sizing: border-box;
}
.corporate-prasar-bharati-secretariat-2 .circulars-tenders {
  margin: 3.9px 134.8px 412.8px 0;
  overflow-wrap: break-word;
  font-family: 'Staatliches';
  font-weight: 400;
  font-size: 30px;
  color: #383086;
}
.circulars-tenders-sub79 {
  font-family: 'Poppins';
  font-weight: 600;
  font-size: 30px;
  text-decoration-line: underline;
  line-height: 1.333;
  color: #383086;
}
.circulars-tenders-sub78 {
  font-family: 'Poppins';
  font-weight: 600;
  font-size: 30px;
  line-height: 1.333;
  color: #383086;
}
.circulars-tenders {
  font-family: 'Poppins';
  font-weight: 600;
  font-size: 30px;
  text-decoration-line: underline;
  line-height: 1.333;
  color: #383086;
}
.corporate-prasar-bharati-secretariat-2 .prasar-bharati-board-citizens-charter-feedback {
  margin: 1.7px 77.3px 0 0;
  overflow-wrap: break-word;
  font-family: 'Poppins';
  font-weight: 600;
  font-size: 30px;
  color: #383086;
}
.prasar-bharati-board-citizens-charter-feedback-sub10 {
  font-family: 'Poppins';
  font-weight: 600;
  font-size: 30px;
  text-decoration-line: underline;
  line-height: 1.333;
  color: #383086;
}
.prasar-bharati-board-citizens-charter-feedback-sub8 {
  font-family: 'Poppins';
  font-weight: 600;
  font-size: 30px;
  text-decoration-line: underline;
  line-height: 1.333;
  color: #383086;
}
.prasar-bharati-board-citizens-charter-feedback {
  font-family: 'Poppins';
  font-weight: 600;
  font-size: 30px;
  text-decoration-line: underline;
  line-height: 1.333;
  color: #383086;
}
.ministry-of-ibcvc-epledge-sub7 {
  font-family: 'Poppins';
  font-weight: 600;
  font-size: 30px;
  text-decoration-line: underline;
  line-height: 1.333;
  color: #383086;
}
.ministry-of-ibcvc-epledge {
  font-family: 'Poppins';
  font-weight: 600;
  font-size: 30px;
  text-decoration-line: underline;
  line-height: 1.333;
  color: #383086;
}
.corporate-prasar-bharati-secretariat-2 .ministry-of-ibcvc-epledge {
  margin: 0 0px 46.7px 0;
  overflow-wrap: break-word;
  font-family: 'Poppins';
  font-weight: 600;
  font-size: 30px;
  color: #383086;
}
.corporate-prasar-bharati-secretariat-2 .container-12 {
  margin-bottom: 48px;
  display: flex;
  flex-direction: row;
  width: fit-content;
  box-sizing: border-box;
}
.corporate-prasar-bharati-secretariat-2 .image-48 {
  background: url('../assets/images/image_46.png') 50% / cover no-repeat;
  margin-left: 6px;
  width: 321px;
  height: 322px;
}
.corporate-prasar-bharati-secretariat-2 .container-32 {
  margin-right: 102.2px;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
}
.corporate-prasar-bharati-secretariat-2 .disclaimer-contact-us-help-sitemap {
  margin: 9.3px 0 317.4px 0;
  overflow-wrap: break-word;
  font-family: 'Poppins';
  font-weight: 600;
  font-size: 30px;
  color: #383086;
}
.disclaimer-contact-us-help-sitemap-sub13 {
  font-family: 'Poppins';
  font-weight: 600;
  font-size: 30px;
  text-decoration-line: underline;
  line-height: 1.333;
  color: #383086;
}
.disclaimer-contact-us-help-sitemap-sub11 {
  font-family: 'Poppins';
  font-weight: 600;
  font-size: 30px;
  text-decoration-line: underline;
  line-height: 1.333;
  color: #383086;
}
.disclaimer-contact-us-help-sitemap-sub10 {
  font-family: 'Poppins';
  font-weight: 600;
  font-size: 30px;
  text-decoration-line: underline;
  line-height: 1.333;
  color: #383086;
}
.disclaimer-contact-us-help-sitemap {
  font-family: 'Poppins';
  font-weight: 600;
  font-size: 30px;
  text-decoration-line: underline;
  line-height: 1.333;
  color: #383086;
}
.corporate-prasar-bharati-secretariat-2 .container-34 {
  margin-bottom: 3px;
  display: flex;
  flex-direction: row;
  width: fit-content;
  box-sizing: border-box;
}
.corporate-prasar-bharati-secretariat-2 .get-news-onair-app {
  margin-left: 8.6px;
  overflow-wrap: break-word;
  font-family: 'Poppins';
  font-weight: 600;
  font-size: 30px;
  color: #383086;
}
.corporate-prasar-bharati-secretariat-2 .container-13 {
  background: #FFFFFF;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 104.3px 0 115px 0;
  width: 1728px;
  box-sizing: border-box;
}
.corporate-prasar-bharati-secretariat-2 .container-38 {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  width: 1728px;
  height: fit-content;
  box-sizing: border-box;
}
.corporate-prasar-bharati-secretariat-2 .firstline {
  width: 73px;
  height: 71.3px;
}
.corporate-prasar-bharati-secretariat-2 .vuesaxbrokenfirstline {
  position: absolute;
  left: 55px;
  top: 301.2px;
  display: flex;
  width: 73px;
  height: 71.3px;
  box-sizing: border-box;
}
.corporate-prasar-bharati-secretariat-2 .whats-new {
  margin-right: 28.5px;
  width: 193px;
  overflow-wrap: break-word;
  font-family: 'Staatliches';
  font-weight: 400;
  font-size: 46px;
  color: #FFFFFF;
}
.corporate-prasar-bharati-secretariat-2 .about-us {
  overflow-wrap: break-word;
  font-family: 'Staatliches';
  font-weight: 400;
  font-size: 46px;
  color: #FFFFFF;
}
.corporate-prasar-bharati-secretariat-2 .related-links {
  overflow-wrap: break-word;
  font-family: 'Staatliches';
  font-weight: 400;
  font-size: 46px;
  color: #FFFFFF;
}
.corporate-prasar-bharati-secretariat-2 .prasar-bharati {
  overflow-wrap: break-word;
  font-family: 'Staatliches';
  font-weight: 400;
  font-size: 46px;
  color: #FFFFFF;
}
.corporate-prasar-bharati-secretariat-2 .container-40 {
  background: #383086;
  position: absolute;
  left: -2px;
  bottom: 672px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 34px 171.8px 22px 0;
  width: 1728px;
  height: 113px;
  box-sizing: border-box;
}
.corporate-prasar-bharati-secretariat-2 {
  background: #F1F4FD;
  display: flex;
  padding: 67px 3px 0 0;
  width: 1728px;
  box-sizing: border-box;
}
