.corporate-prasar-bharati-board .frame-1 {
  border-radius: 26px;
  position: absolute;
  left: 50%;
  top: 128px;
  translate: -50% 0;
  width: 1043px;
  height: 88px;
}
.corporate-prasar-bharati-board .download-removebg-preview-153 {
  background: url('../assets/images/download_removebg_preview_153.png') 50% / cover no-repeat;
  position: absolute;
  left: 68px;
  top: 78px;
  width: 194px;
  height: 194px;
}
.corporate-prasar-bharati-board .download-removebg-preview-191 {
  background: url('../assets/images/download_removebg_preview_191.png') 50% / cover no-repeat;
  margin: 0 0 18px 20px;
  align-self: center;
  width: 70px;
  height: 114px;
}
.corporate-prasar-bharati-board .search {
  margin: 3px 20px 11px 0;
  display: inline-block;
  width: 112px;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 600;
  font-size: 33px;
  color: #383086;
}
.corporate-prasar-bharati-board .sign-up {
  margin: 12px 6.4px 13px 0;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 700;
  font-size: 24px;
  color: #3A3085;
}
.corporate-prasar-bharati-board .login {
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 700;
  font-size: 24px;
  color: #F1F4FD;
}
.corporate-prasar-bharati-board .container-3 {
  border-radius: 14px;
  background: #3A3085;
  position: relative;
  padding: 12px 20px 13px 20px;
  width: 109px;
  box-sizing: border-box;
}
.corporate-prasar-bharati-board .container-17 {
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
}
.corporate-prasar-bharati-board .container-27 {
  margin: 0 41px 40px 41px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 1287px;
  box-sizing: border-box;
}
.corporate-prasar-bharati-board .home {
  overflow-wrap: break-word;
  font-family: 'Poppins';
  font-weight: 500;
  font-size: 28px;
  color: #383086;
}
.corporate-prasar-bharati-board .group-16 {
  margin: 14px 0 9px 0;
  display: flex;
  box-sizing: border-box;
}
.corporate-prasar-bharati-board .corporate {
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 600;
  font-size: 28px;
  color: #FFFFFF;
}
.corporate-prasar-bharati-board .group-35 {
  border-radius: 13px;
  background: #383086;
  position: relative;
  display: flex;
  padding: 17px 15.5px 14px 16px;
  box-sizing: border-box;
}
.corporate-prasar-bharati-board .listeners {
  margin: 18px 0 13px 0;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 500;
  font-size: 28px;
  color: #383086;
}
.corporate-prasar-bharati-board .viewers {
  margin: 18px 0 13px 0;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 500;
  font-size: 28px;
  color: #383086;
}
.corporate-prasar-bharati-board .clients {
  margin: 18px 0 13px 0;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 500;
  font-size: 28px;
  color: #383086;
}
.corporate-prasar-bharati-board .talent {
  margin: 18px 0 13px 0;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 500;
  font-size: 28px;
  color: #383086;
}
.corporate-prasar-bharati-board .latest {
  margin: 18px 0 13px 0;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 500;
  font-size: 28px;
  color: #383086;
}
.corporate-prasar-bharati-board .blog {
  margin: 18px 0 13px 0;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 500;
  font-size: 28px;
  color: #383086;
}
.corporate-prasar-bharati-board .container-5 {
  box-shadow: 9px 7px 4px 0px rgba(0, 0, 0, 0.25);
  border-radius: 17px;
  background: #FFFFFF;
  position: relative;
  margin-right: 40px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 6px 17.6px 8px 46px;
  width: 1418px;
  box-sizing: border-box;
}
.corporate-prasar-bharati-board .shape-1 {
  width: 41px;
  height: 44px;
}
.corporate-prasar-bharati-board .group-34 {
  border-radius: 30px;
  background: #3A3085;
  position: relative;
  margin: 11px 0 8px 0;
  display: flex;
  padding: 9px 9px 7px 10px;
  width: 60px;
  height: 60px;
  box-sizing: border-box;
}
.corporate-prasar-bharati-board .container-33 {
  margin: 0 45px 29px 165px;
  display: flex;
  flex-direction: row;
  width: 1518px;
  box-sizing: border-box;
}
.corporate-prasar-bharati-board .corporate-1 {
  margin: 0 2px 45px 0;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 700;
  font-size: 35px;
  color: #383086;
}
.corporate-prasar-bharati-board .mission-objectives {
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 700;
  font-size: 28px;
  color: #383086;
}
.corporate-prasar-bharati-board .container-15 {
  box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.25);
  border-radius: 14px;
  background: #F1F4FD;
  position: relative;
  margin-bottom: 25px;
  display: flex;
  padding: 25px 35.4px 22px 33.4px;
  box-sizing: border-box;
}
.corporate-prasar-bharati-board .prasar-bharati-board {
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 700;
  font-size: 28px;
  color: #FFFFFF;
}
.corporate-prasar-bharati-board .container-4 {
  box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.25);
  border-radius: 14px;
  background: #383086;
  position: relative;
  margin-bottom: 25px;
  display: flex;
  padding: 25px 2px 22px 0;
  width: 355px;
  box-sizing: border-box;
}
.corporate-prasar-bharati-board .prasar-bharati-act {
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 700;
  font-size: 28px;
  color: #383086;
}
.corporate-prasar-bharati-board .container-24 {
  box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.25);
  border-radius: 14px;
  background: #F1F4FD;
  position: relative;
  margin-bottom: 25px;
  display: flex;
  padding: 25px 3px 22px 0;
  width: 355px;
  box-sizing: border-box;
}
.corporate-prasar-bharati-board .pb-secretariat {
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 700;
  font-size: 28px;
  color: #383086;
}
.corporate-prasar-bharati-board .container-10 {
  box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.25);
  border-radius: 14px;
  background: #F1F4FD;
  position: relative;
  margin-bottom: 25px;
  display: flex;
  padding: 25px 3px 22px 0;
  width: 355px;
  box-sizing: border-box;
}
.corporate-prasar-bharati-board .all-india-radio {
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 700;
  font-size: 28px;
  color: #383086;
}
.corporate-prasar-bharati-board .container-20 {
  box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.25);
  border-radius: 14px;
  background: #F1F4FD;
  position: relative;
  margin-bottom: 25px;
  display: flex;
  padding: 25px 3px 22px 0;
  width: 355px;
  box-sizing: border-box;
}
.corporate-prasar-bharati-board .doordarshan {
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 700;
  font-size: 28px;
  color: #383086;
}
.corporate-prasar-bharati-board .container-29 {
  box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.25);
  border-radius: 14px;
  background: #F1F4FD;
  position: relative;
  margin-bottom: 25px;
  display: flex;
  padding: 25px 3px 22px 0;
  width: 355px;
  box-sizing: border-box;
}
.corporate-prasar-bharati-board .pbns-dp {
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 700;
  font-size: 28px;
  color: #383086;
}
.corporate-prasar-bharati-board .container-23 {
  box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.25);
  border-radius: 14px;
  background: #F1F4FD;
  position: relative;
  margin-bottom: 25px;
  display: flex;
  padding: 25px 17px 22px 0;
  width: 355px;
  box-sizing: border-box;
}
.corporate-prasar-bharati-board .air-news {
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 700;
  font-size: 28px;
  color: #383086;
}
.corporate-prasar-bharati-board .container-14 {
  box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.25);
  border-radius: 14px;
  background: #F1F4FD;
  position: relative;
  margin-bottom: 25px;
  display: flex;
  padding: 25px 2px 22px 0;
  width: 355px;
  box-sizing: border-box;
}
.corporate-prasar-bharati-board .dd-news {
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 700;
  font-size: 28px;
  color: #383086;
}
.corporate-prasar-bharati-board .container-26 {
  box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.25);
  border-radius: 14px;
  background: #F1F4FD;
  position: relative;
  margin-bottom: 25px;
  display: flex;
  padding: 25px 3px 22px 0;
  width: 355px;
  box-sizing: border-box;
}
.corporate-prasar-bharati-board .prasar-bharati-archives {
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 700;
  font-size: 28px;
  color: #383086;
}
.corporate-prasar-bharati-board .container-22 {
  box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.25);
  border-radius: 14px;
  background: #F1F4FD;
  position: relative;
  margin-bottom: 25px;
  display: flex;
  padding: 25px 18.3px 22px 15.3px;
  box-sizing: border-box;
}
.corporate-prasar-bharati-board .nabm {
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 700;
  font-size: 28px;
  color: #383086;
}
.corporate-prasar-bharati-board .container-38 {
  box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.25);
  border-radius: 14px;
  background: #F1F4FD;
  position: relative;
  margin-bottom: 25px;
  display: flex;
  padding: 25px 16px 22px 0;
  width: 355px;
  box-sizing: border-box;
}
.corporate-prasar-bharati-board .ccw {
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 700;
  font-size: 28px;
  color: #383086;
}
.corporate-prasar-bharati-board .container-40 {
  box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.25);
  border-radius: 14px;
  background: #F1F4FD;
  position: relative;
  margin-bottom: 25px;
  display: flex;
  padding: 25px 3px 22px 0;
  width: 355px;
  box-sizing: border-box;
}
.corporate-prasar-bharati-board .research-development {
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 700;
  font-size: 28px;
  color: #383086;
}
.corporate-prasar-bharati-board .container-25 {
  box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.25);
  border-radius: 14px;
  background: #F1F4FD;
  position: relative;
  margin-bottom: 25px;
  display: flex;
  padding: 25px 7.3px 22px 5.3px;
  box-sizing: border-box;
}
.corporate-prasar-bharati-board .ministry-of-ib {
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 700;
  font-size: 28px;
  color: #383086;
}
.corporate-prasar-bharati-board .container-28 {
  box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.25);
  border-radius: 14px;
  background: #F1F4FD;
  position: relative;
  display: flex;
  padding: 25px 2px 22px 0;
  width: 355px;
  box-sizing: border-box;
}
.corporate-prasar-bharati-board .container-37 {
  box-shadow: 10px 4px 4px 0px rgba(0, 0, 0, 0.15);
  border-radius: 30px;
  border: 1px solid rgba(56, 48, 134, 0.51);
  background: #FFFFFF;
  position: relative;
  margin: 0 83px 276px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 55px 19px 43px 19px;
  box-sizing: border-box;
}
.corporate-prasar-bharati-board .prasar-bharati-board-1 {
  margin: 0 2.3px 42px 2.3px;
  display: inline-block;
  align-self: flex-start;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 700;
  font-size: 49px;
  color: #383086;
}
.corporate-prasar-bharati-board .the-general-superintendence-direction-and-management-of-the-affairs-of-prasar-bharati-are-vested-in-the-prasar-bharati-board-which-is-headed-by-the-chairman-and-comprises-of-the-executive-member-chief-executive-officer-the-member-finance-the-member-personnel-six-part-time-members-arepresentative-of-the-ministry-of-information-broadcasting-and-the-directors-general-of-all-india-radio-and-doordarshan-as-ex-officio-members-the-chairman-is-apart-time-member-with-athree-year-tenure-subject-to-the-age-limit-of-70-years-the-chief-executive-officer-has-atenure-of-five-years-subject-to-the-age-limit-of-65-years-member-finance-and-member-personnel-are-whole-time-members-with-asix-year-tenure-subject-to-the-age-limit-of-62-years-the-prasar-bharati-board-meets-at-least-6-times-in-ayear-and-the-meetings-are-presided-over-by-the-chairman-the-board-delegates-powers-and-responsibilities-to-the-chief-executive-officer-who-discharges-his-functions-accordingly {
  margin: 0 18.3px 72px 2px;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 500;
  font-size: 24px;
  color: #383086;
}
.corporate-prasar-bharati-board .prasar-bharati-board-members-1 {
  margin: 0 9px 1px 9px;
  display: inline-block;
  text-align: center;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 700;
  font-size: 21px;
  color: #383086;
}
.corporate-prasar-bharati-board .line-1 {
  background: #383086;
  margin-bottom: 5px;
  width: 891px;
  height: 0px;
}
.corporate-prasar-bharati-board .image-48 {
  border: 1px solid #383086;
  background: url('../assets/images/image_48.png') 50% / cover no-repeat;
  margin-right: 27px;
  width: 65px;
  height: 84px;
}
.corporate-prasar-bharati-board .shri-navneet-kumar-sehgal-chairman-prasar-bharati-board {
  margin: 21px 51px 18px 0;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 700;
  font-size: 12px;
  color: #383086;
}
.shri-navneet-kumar-sehgal-chairman-prasar-bharati-board-sub13 {
  font-family: 'Inter';
  font-weight: 600;
  font-size: 12px;
  text-decoration-line: underline;
  line-height: 1.333;
  color: #383086;
}
.shri-navneet-kumar-sehgal-chairman-prasar-bharati-board {
  font-family: 'Inter';
  font-weight: 600;
  font-size: 12px;
  line-height: 1.333;
  color: #383086;
}
.corporate-prasar-bharati-board .off-tel-0112311880123118802-email-chairmanatprasarbharatidotgovdotin {
  margin: 23px 0 27px 0;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 600;
  font-size: 14px;
  color: #383086;
}
.corporate-prasar-bharati-board .container-12 {
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
}
.corporate-prasar-bharati-board .previous-chairmen {
  margin: 29px 0 38px 0;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 600;
  font-size: 14px;
  text-decoration-line: underline;
  color: #383086;
}
.previous-chairmen {
  font-family: 'Inter';
  font-weight: 600;
  font-size: 14px;
  text-decoration-line: underline;
  line-height: 1.333;
}
.corporate-prasar-bharati-board .container-43 {
  margin: 0 13.6px 29px 11px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 866.4px;
  box-sizing: border-box;
}
.shri-gaurav-dwivedi-ias-chief-executive-officer-prasar-bharati-sub15 {
  font-family: 'Inter';
  font-weight: 600;
  font-size: 12px;
  text-decoration-line: underline;
  line-height: 1.333;
  color: #383086;
}
.shri-gaurav-dwivedi-ias-chief-executive-officer-prasar-bharati-sub12 {
  font-family: 'Inter';
  font-weight: 600;
  font-size: 12px;
  line-height: 1.333;
  color: #383086;
}
.shri-gaurav-dwivedi-ias-chief-executive-officer-prasar-bharati {
  font-family: 'Inter';
  font-weight: 600;
  font-size: 12px;
  text-decoration-line: underline;
  line-height: 1.333;
  color: #383086;
}
.corporate-prasar-bharati-board .shri-gaurav-dwivedi-ias-chief-executive-officer-prasar-bharati {
  margin: 8px 22.5px 6px 0;
  width: 160px;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 700;
  font-size: 12px;
  color: #383086;
}
.corporate-prasar-bharati-board .mob-9868255011-off-tel-01123118802-email-ceoatprasarbharatidotgovdotin {
  margin-top: 8px;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 600;
  font-size: 14px;
  color: #383086;
}
.previous-ceos {
  font-family: 'Inter';
  font-weight: 600;
  font-size: 14px;
  text-decoration-line: underline;
  line-height: 1.333;
}
.corporate-prasar-bharati-board .previous-ceos {
  margin-bottom: 25px;
  text-align: center;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 600;
  font-size: 14px;
  text-decoration-line: underline;
  color: #383086;
}
.previous-ceos-sub18 {
  font-family: 'Inter';
  font-weight: 600;
  font-size: 14px;
  text-decoration-line: underline;
  line-height: 1.333;
}
.previous-ceos-sub16 {
  font-family: 'Inter';
  font-weight: 600;
  font-size: 14px;
  text-decoration-line: underline;
  line-height: 1.333;
}
.corporate-prasar-bharati-board .container-39 {
  margin: 0 43.9px 42px 43.9px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 744.1px;
  box-sizing: border-box;
}
.corporate-prasar-bharati-board .member-finance-additional-charge-with-ceo {
  margin: 0 22.5px 1px 0;
  display: inline-block;
  width: 152px;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 600;
  font-size: 12px;
  color: #383086;
}
.corporate-prasar-bharati-board .off-tel-911123118808-email {
  margin-bottom: 12px;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 600;
  font-size: 14px;
  color: #383086;
}
.corporate-prasar-bharati-board .previous-members-finance {
  margin-top: 12px;
  text-align: center;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 600;
  font-size: 14px;
  text-decoration-line: underline;
  color: #383086;
}
.previous-members-finance-sub18 {
  font-family: 'Inter';
  font-weight: 600;
  font-size: 14px;
  text-decoration-line: underline;
  line-height: 1.333;
}
.previous-members-finance-sub16 {
  font-family: 'Inter';
  font-weight: 600;
  font-size: 14px;
  text-decoration-line: underline;
  line-height: 1.333;
}
.previous-members-finance {
  font-family: 'Inter';
  font-weight: 600;
  font-size: 14px;
  text-decoration-line: underline;
  line-height: 1.333;
}
.corporate-prasar-bharati-board .container-21 {
  margin: 0 14.2px 62px 14.2px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 773.8px;
  box-sizing: border-box;
}
.corporate-prasar-bharati-board .member-personnel-additional-charge-with-ceo {
  margin-right: 22.5px;
  width: 160px;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 600;
  font-size: 12px;
  color: #383086;
}
.corporate-prasar-bharati-board .off-tel-911123118808 {
  margin: 6px 0 22px 0;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 600;
  font-size: 14px;
  color: #383086;
}
.corporate-prasar-bharati-board .previous-members-personnel {
  margin: 8px 0 3px 0;
  text-align: center;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 600;
  font-size: 14px;
  text-decoration-line: underline;
  color: #383086;
}
.previous-members-personnel-sub18 {
  font-family: 'Inter';
  font-weight: 600;
  font-size: 14px;
  text-decoration-line: underline;
  line-height: 1.333;
}
.previous-members-personnel-sub16 {
  font-family: 'Inter';
  font-weight: 600;
  font-size: 14px;
  text-decoration-line: underline;
  line-height: 1.333;
}
.previous-members-personnel {
  font-family: 'Inter';
  font-weight: 600;
  font-size: 14px;
  text-decoration-line: underline;
  line-height: 1.333;
}
.corporate-prasar-bharati-board .container {
  margin: 0 10.2px 40px 10.2px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 777.8px;
  box-sizing: border-box;
}
.corporate-prasar-bharati-board .ms-neerja-sekhar-nominated-member-prasar-bharati-board-additional-secretary-ministry-of-ib {
  margin-right: 47.8px;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 600;
  font-size: 12px;
  color: #383086;
}
.corporate-prasar-bharati-board .mob-8130521122-off-tel-01123387558-email-asmibdotinbatnicdotin {
  margin: 2px 0 22px 0;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 600;
  font-size: 14px;
  color: #383086;
}
.corporate-prasar-bharati-board .container-11 {
  margin: 0 247.5px 23px 0;
  display: flex;
  flex-direction: row;
  align-self: center;
  width: fit-content;
  box-sizing: border-box;
}
.corporate-prasar-bharati-board .image-50 {
  border: 1px solid #383086;
  background: url('../assets/images/image_50.png') 50% / cover no-repeat;
  margin-right: 27px;
  width: 65px;
  height: 77px;
}
.corporate-prasar-bharati-board .shri-ashok-kumar-tandon-part-time-member-prasar-bharati-board {
  margin: 12px 0 5px 0;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 600;
  font-size: 12px;
  text-decoration-line: underline;
  color: #383086;
}
.corporate-prasar-bharati-board .container-31 {
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
}
.corporate-prasar-bharati-board .email-ashokkumar-tandonatgmaildotcom-mob-09810184735-res-01141630311 {
  margin: 7px 0 19px 0;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 600;
  font-size: 14px;
  color: #383086;
}
.corporate-prasar-bharati-board .container-16 {
  margin: 0 11px 24px 11px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-self: flex-start;
  width: 621px;
  box-sizing: border-box;
}
.corporate-prasar-bharati-board .image-51 {
  border: 1px solid #383086;
  background: url('../assets/images/image_51.png') 50% / cover no-repeat;
  margin-right: 27px;
  width: 65px;
  height: 78px;
}
.shri-sanjay-gupta-part-time-member-prasar-bharati-board {
  font-family: 'Inter';
  font-weight: 600;
  font-size: 12px;
  text-decoration-line: underline;
  line-height: 1.333;
  color: #383086;
}
.corporate-prasar-bharati-board .shri-sanjay-gupta-part-time-member-prasar-bharati-board {
  margin: 17px 64.7px 16px 0;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 700;
  font-size: 12px;
  color: #383086;
}
.shri-sanjay-gupta-part-time-member-prasar-bharati-board-sub15 {
  font-family: 'Inter';
  font-weight: 600;
  font-size: 12px;
  text-decoration-line: underline;
  line-height: 1.333;
  color: #383086;
}
.shri-sanjay-gupta-part-time-member-prasar-bharati-board-sub12 {
  font-family: 'Inter';
  font-weight: 600;
  font-size: 12px;
  line-height: 1.333;
  color: #383086;
}
.corporate-prasar-bharati-board .email-sanjayatjagrandotcom-mob-09810070292 {
  margin: 18px 0 26px 0;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 600;
  font-size: 14px;
  color: #383086;
}
.corporate-prasar-bharati-board .container-9 {
  margin: 0 11px 39px 11px;
  display: flex;
  flex-direction: row;
  align-self: flex-start;
  width: fit-content;
  box-sizing: border-box;
}
.corporate-prasar-bharati-board .dg-air-prasar-bharati-board-vacant {
  margin: 0 15px 4px 0;
  display: inline-block;
  width: 160px;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 600;
  font-size: 12px;
  color: #383086;
}
.corporate-prasar-bharati-board .off-tel-01123421218-email-dgairatairdotorgdotin {
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 600;
  font-size: 14px;
  color: #383086;
}
.corporate-prasar-bharati-board .container-41 {
  margin: 0 247px 56px 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-self: center;
  width: 438px;
  box-sizing: border-box;
}
.corporate-prasar-bharati-board .dg-doordarshan-prasar-bharati-board-vacant {
  margin: 0 15px 21px 0;
  display: inline-block;
  width: 160px;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 600;
  font-size: 12px;
  color: #383086;
}
.off-tel-91112311880102-fax-911123114964-emaildgddatprasarbharatidotgovdotin {
  font-family: 'Inter';
  font-weight: 600;
  font-size: 14px;
  text-decoration-line: underline;
  line-height: 1.333;
}
.corporate-prasar-bharati-board .off-tel-91112311880102-fax-911123114964-emaildgddatprasarbharatidotgovdotin {
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 600;
  font-size: 14px;
  color: #383086;
}
.off-tel-91112311880102-fax-911123114964-emaildgddatprasarbharatidotgovdotin-sub19 {
  font-family: 'Inter';
  font-weight: 600;
  font-size: 14px;
  line-height: 1.333;
}
.corporate-prasar-bharati-board .container-42 {
  margin-right: 173.3px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-self: center;
  width: 511.7px;
  box-sizing: border-box;
}
.corporate-prasar-bharati-board .container-30 {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  box-sizing: border-box;
}
.corporate-prasar-bharati-board .line-5 {
  background: #383086;
  position: absolute;
  left: 1px;
  top: 176px;
  right: 0px;
  height: 0px;
}
.corporate-prasar-bharati-board .line-6 {
  background: #383086;
  position: absolute;
  left: 1px;
  top: 276px;
  right: 0px;
  height: 0px;
}
.corporate-prasar-bharati-board .line-7 {
  background: #383086;
  position: absolute;
  left: 1px;
  top: 376px;
  right: 0px;
  height: 0px;
}
.corporate-prasar-bharati-board .line-8 {
  background: #383086;
  position: absolute;
  left: 1px;
  right: 0px;
  bottom: 469px;
  height: 0px;
}
.corporate-prasar-bharati-board .line-10 {
  background: #383086;
  position: absolute;
  left: 1px;
  right: 0px;
  bottom: 369px;
  height: 0px;
}
.corporate-prasar-bharati-board .line-11 {
  background: #383086;
  position: absolute;
  left: 1px;
  right: 0px;
  bottom: 169px;
  height: 0px;
}
.corporate-prasar-bharati-board .line-12 {
  background: #383086;
  position: absolute;
  left: 1px;
  right: 0px;
  bottom: 69px;
  height: 0px;
}
.corporate-prasar-bharati-board .line-9 {
  background: #383086;
  position: absolute;
  left: 1px;
  right: 0px;
  bottom: 269px;
  height: 0px;
}
.corporate-prasar-bharati-board .container-32 {
  position: relative;
  margin: 13px 0 30px 0;
  display: flex;
  box-sizing: border-box;
}
.corporate-prasar-bharati-board .line-16 {
  background: #383086;
  width: 989px;
  height: 0px;
}
.corporate-prasar-bharati-board .container-8 {
  position: relative;
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
}
.corporate-prasar-bharati-board .line-2 {
  background: #383086;
  position: absolute;
  left: 86px;
  bottom: 0px;
  width: 989px;
  height: 0px;
}
.corporate-prasar-bharati-board .line-15 {
  background: #383086;
  position: absolute;
  left: 0px;
  bottom: 0px;
  width: 989px;
  height: 0px;
}
.corporate-prasar-bharati-board .line-3 {
  background: #383086;
  position: absolute;
  left: 276px;
  bottom: 0px;
  width: 989px;
  height: 0px;
}
.corporate-prasar-bharati-board .line-4 {
  background: #383086;
  position: absolute;
  right: 166px;
  bottom: 0px;
  width: 989px;
  height: 0px;
}
.corporate-prasar-bharati-board .prasar-bharati-board-members {
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 700;
  font-size: 30px;
  color: #383086;
}
.corporate-prasar-bharati-board .container-1 {
  background: #FFFFFF;
  position: absolute;
  left: 5px;
  top: 0px;
  display: flex;
  padding: 27px 0 24px 15px;
  width: 720px;
  box-sizing: border-box;
}
.corporate-prasar-bharati-board .line-17 {
  background: #383086;
  position: absolute;
  left: 1px;
  top: 0px;
  right: 1px;
  height: 0px;
}
.corporate-prasar-bharati-board .previous-part-time-members {
  text-align: center;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 600;
  font-size: 14px;
  text-decoration-line: underline;
  color: #383086;
}
.previous-part-time-members-sub18 {
  font-family: 'Inter';
  font-weight: 600;
  font-size: 14px;
  text-decoration-line: underline;
  line-height: 1.333;
}
.previous-part-time-members-sub16 {
  font-family: 'Inter';
  font-weight: 600;
  font-size: 14px;
  text-decoration-line: underline;
  line-height: 1.333;
}
.previous-part-time-members {
  font-family: 'Inter';
  font-weight: 600;
  font-size: 14px;
  text-decoration-line: underline;
  line-height: 1.333;
}
.corporate-prasar-bharati-board .container-7 {
  background: #FFFFFF;
  position: absolute;
  right: 1px;
  bottom: 25px;
  display: flex;
  padding-left: 6px;
  width: 165px;
  height: 467px;
  box-sizing: border-box;
}
.corporate-prasar-bharati-board .container-44 {
  position: relative;
  display: flex;
  box-sizing: border-box;
}
.corporate-prasar-bharati-board .line-13 {
  background: #383086;
  margin: 0 1px;
  width: 890px;
  height: 0px;
}
.corporate-prasar-bharati-board .container-34 {
  border-radius: 78px;
  background: #FFFFFF;
  position: relative;
  margin-top: 55px;
  display: flex;
  flex-direction: column;
  padding: 91px 84px 147px 74px;
  box-sizing: border-box;
}
.corporate-prasar-bharati-board .container-35 {
  margin: 0 38px 76px 164px;
  display: flex;
  flex-direction: row;
  width: fit-content;
  box-sizing: border-box;
}
.circulars-tenders {
  font-family: 'Poppins';
  font-weight: 600;
  font-size: 30px;
  text-decoration-line: underline;
  line-height: 1.333;
  color: #383086;
}
.corporate-prasar-bharati-board .circulars-tenders {
  margin: 3.9px 134.8px 412.8px 0;
  overflow-wrap: break-word;
  font-family: 'Staatliches';
  font-weight: 400;
  font-size: 30px;
  color: #383086;
}
.circulars-tenders-sub79 {
  font-family: 'Poppins';
  font-weight: 600;
  font-size: 30px;
  text-decoration-line: underline;
  line-height: 1.333;
  color: #383086;
}
.circulars-tenders-sub78 {
  font-family: 'Poppins';
  font-weight: 600;
  font-size: 30px;
  line-height: 1.333;
  color: #383086;
}
.corporate-prasar-bharati-board .prasar-bharati-board-citizens-charter-feedback {
  margin: 1.7px 77.3px 0 0;
  overflow-wrap: break-word;
  font-family: 'Poppins';
  font-weight: 600;
  font-size: 30px;
  color: #383086;
}
.prasar-bharati-board-citizens-charter-feedback-sub10 {
  font-family: 'Poppins';
  font-weight: 600;
  font-size: 30px;
  text-decoration-line: underline;
  line-height: 1.333;
  color: #383086;
}
.prasar-bharati-board-citizens-charter-feedback-sub8 {
  font-family: 'Poppins';
  font-weight: 600;
  font-size: 30px;
  text-decoration-line: underline;
  line-height: 1.333;
  color: #383086;
}
.prasar-bharati-board-citizens-charter-feedback {
  font-family: 'Poppins';
  font-weight: 600;
  font-size: 30px;
  text-decoration-line: underline;
  line-height: 1.333;
  color: #383086;
}
.corporate-prasar-bharati-board .ministry-of-ibcvc-epledge {
  margin: 0 0px 46.7px 0;
  overflow-wrap: break-word;
  font-family: 'Poppins';
  font-weight: 600;
  font-size: 30px;
  color: #383086;
}
.ministry-of-ibcvc-epledge-sub7 {
  font-family: 'Poppins';
  font-weight: 600;
  font-size: 30px;
  text-decoration-line: underline;
  line-height: 1.333;
  color: #383086;
}
.ministry-of-ibcvc-epledge {
  font-family: 'Poppins';
  font-weight: 600;
  font-size: 30px;
  text-decoration-line: underline;
  line-height: 1.333;
  color: #383086;
}
.corporate-prasar-bharati-board .container-6 {
  margin-bottom: 48px;
  display: flex;
  flex-direction: row;
  width: fit-content;
  box-sizing: border-box;
}
.corporate-prasar-bharati-board .image-47 {
  background: url('../assets/images/image_46.png') 50% / cover no-repeat;
  margin-left: 6px;
  width: 321px;
  height: 322px;
}
.corporate-prasar-bharati-board .container-18 {
  margin-right: 102.2px;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
}
.corporate-prasar-bharati-board .disclaimer-contact-us-help-sitemap {
  margin: 9.3px 0 317.4px 0;
  overflow-wrap: break-word;
  font-family: 'Poppins';
  font-weight: 600;
  font-size: 30px;
  color: #383086;
}
.disclaimer-contact-us-help-sitemap-sub13 {
  font-family: 'Poppins';
  font-weight: 600;
  font-size: 30px;
  text-decoration-line: underline;
  line-height: 1.333;
  color: #383086;
}
.disclaimer-contact-us-help-sitemap-sub11 {
  font-family: 'Poppins';
  font-weight: 600;
  font-size: 30px;
  text-decoration-line: underline;
  line-height: 1.333;
  color: #383086;
}
.disclaimer-contact-us-help-sitemap-sub10 {
  font-family: 'Poppins';
  font-weight: 600;
  font-size: 30px;
  text-decoration-line: underline;
  line-height: 1.333;
  color: #383086;
}
.disclaimer-contact-us-help-sitemap {
  font-family: 'Poppins';
  font-weight: 600;
  font-size: 30px;
  text-decoration-line: underline;
  line-height: 1.333;
  color: #383086;
}
.corporate-prasar-bharati-board .container-2 {
  margin-bottom: 3px;
  display: flex;
  flex-direction: row;
  width: fit-content;
  box-sizing: border-box;
}
.corporate-prasar-bharati-board .get-news-onair-app {
  margin-left: 8.6px;
  overflow-wrap: break-word;
  font-family: 'Poppins';
  font-weight: 600;
  font-size: 30px;
  color: #383086;
}
.corporate-prasar-bharati-board .container-19 {
  background: #FFFFFF;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 104.3px 0 82px 0;
  width: 1728px;
  box-sizing: border-box;
}
.corporate-prasar-bharati-board .container-36 {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  width: 1728px;
  height: fit-content;
  box-sizing: border-box;
}
.corporate-prasar-bharati-board .firstline {
  width: 73px;
  height: 71.3px;
}
.corporate-prasar-bharati-board .vuesaxbrokenfirstline {
  position: absolute;
  left: 57px;
  top: 251.2px;
  display: flex;
  width: 73px;
  height: 71.3px;
  box-sizing: border-box;
}
.corporate-prasar-bharati-board .whats-new {
  margin-right: 28.5px;
  width: 193px;
  overflow-wrap: break-word;
  font-family: 'Staatliches';
  font-weight: 400;
  font-size: 46px;
  color: #FFFFFF;
}
.corporate-prasar-bharati-board .about-us {
  overflow-wrap: break-word;
  font-family: 'Staatliches';
  font-weight: 400;
  font-size: 46px;
  color: #FFFFFF;
}
.corporate-prasar-bharati-board .related-links {
  overflow-wrap: break-word;
  font-family: 'Staatliches';
  font-weight: 400;
  font-size: 46px;
  color: #FFFFFF;
}
.corporate-prasar-bharati-board .prasar-bharati {
  overflow-wrap: break-word;
  font-family: 'Staatliches';
  font-weight: 400;
  font-size: 46px;
  color: #FFFFFF;
}
.corporate-prasar-bharati-board .container-13 {
  background: #383086;
  position: absolute;
  left: 0px;
  right: 0px;
  bottom: 639px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 34px 0 22px 0;
  box-sizing: border-box;
}
.corporate-prasar-bharati-board {
  background: #F1F4FD;
  display: flex;
  padding: 17px 9px 0 0;
  width: 1728px;
  box-sizing: border-box;
}
