.corporate-doordarshan-2 .frame-1 {
  border-radius: 26px;
  position: absolute;
  left: 50%;
  top: 128px;
  translate: -50% 0;
  width: 1043px;
  height: 88px;
}
.corporate-doordarshan-2 .download-removebg-preview-153 {
  background: url('../assets/images/download_removebg_preview_153.png') 50% / cover no-repeat;
  position: absolute;
  left: 68px;
  top: 78px;
  width: 194px;
  height: 194px;
}
.corporate-doordarshan-2 .download-removebg-preview-191 {
  background: url('../assets/images/download_removebg_preview_191.png') 50% / cover no-repeat;
  margin: 0 0 18px 20px;
  align-self: center;
  width: 70px;
  height: 114px;
}
.corporate-doordarshan-2 .search {
  margin: 3px 20px 11px 0;
  display: inline-block;
  width: 112px;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 600;
  font-size: 33px;
  color: #383086;
}
.corporate-doordarshan-2 .sign-up {
  margin: 12px 6.4px 13px 0;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 700;
  font-size: 24px;
  color: #3A3085;
}
.corporate-doordarshan-2 .login {
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 700;
  font-size: 24px;
  color: #F1F4FD;
}
.corporate-doordarshan-2 .container {
  border-radius: 14px;
  background: #3A3085;
  position: relative;
  padding: 12px 20px 13px 20px;
  width: 109px;
  box-sizing: border-box;
}
.corporate-doordarshan-2 .container-10 {
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
}
.corporate-doordarshan-2 .container-6 {
  margin: 0 41px 40px 41px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 1287px;
  box-sizing: border-box;
}
.corporate-doordarshan-2 .home {
  overflow-wrap: break-word;
  font-family: 'Poppins';
  font-weight: 500;
  font-size: 28px;
  color: #383086;
}
.corporate-doordarshan-2 .group-16 {
  margin: 14px 0 9px 0;
  display: flex;
  box-sizing: border-box;
}
.corporate-doordarshan-2 .corporate {
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 600;
  font-size: 28px;
  color: #FFFFFF;
}
.corporate-doordarshan-2 .group-35 {
  border-radius: 13px;
  background: #383086;
  position: relative;
  display: flex;
  padding: 17px 15.5px 14px 16px;
  box-sizing: border-box;
}
.corporate-doordarshan-2 .listeners {
  margin: 18px 0 13px 0;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 500;
  font-size: 28px;
  color: #383086;
}
.corporate-doordarshan-2 .viewers {
  margin: 18px 0 13px 0;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 500;
  font-size: 28px;
  color: #383086;
}
.corporate-doordarshan-2 .clients {
  margin: 18px 0 13px 0;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 500;
  font-size: 28px;
  color: #383086;
}
.corporate-doordarshan-2 .talent {
  margin: 18px 0 13px 0;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 500;
  font-size: 28px;
  color: #383086;
}
.corporate-doordarshan-2 .latest {
  margin: 18px 0 13px 0;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 500;
  font-size: 28px;
  color: #383086;
}
.corporate-doordarshan-2 .blog {
  margin: 18px 0 13px 0;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 500;
  font-size: 28px;
  color: #383086;
}
.corporate-doordarshan-2 .container-17 {
  box-shadow: 9px 7px 4px 0px rgba(0, 0, 0, 0.25);
  border-radius: 17px;
  background: #FFFFFF;
  position: relative;
  margin-right: 40px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 6px 17.6px 8px 46px;
  width: 1418px;
  box-sizing: border-box;
}
.corporate-doordarshan-2 .shape-1 {
  width: 41px;
  height: 44px;
}
.corporate-doordarshan-2 .group-34 {
  border-radius: 30px;
  background: #3A3085;
  position: relative;
  margin: 11px 0 8px 0;
  display: flex;
  padding: 9px 9px 7px 10px;
  width: 60px;
  height: 60px;
  box-sizing: border-box;
}
.corporate-doordarshan-2 .container-14 {
  margin: 0 45px 29px 165px;
  display: flex;
  flex-direction: row;
  width: 1518px;
  box-sizing: border-box;
}
.corporate-doordarshan-2 .corporate-1 {
  margin: 0 2px 45px 0;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 700;
  font-size: 35px;
  color: #383086;
}
.corporate-doordarshan-2 .mission-objectives {
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 700;
  font-size: 28px;
  color: #383086;
}
.corporate-doordarshan-2 .container-25 {
  box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.25);
  border-radius: 14px;
  background: #F1F4FD;
  position: relative;
  margin-bottom: 25px;
  display: flex;
  padding: 25px 35.4px 22px 33.4px;
  box-sizing: border-box;
}
.corporate-doordarshan-2 .prasar-bharati-board {
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 700;
  font-size: 28px;
  color: #383086;
}
.corporate-doordarshan-2 .container-9 {
  box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.25);
  border-radius: 14px;
  background: #F1F4FD;
  position: relative;
  margin-bottom: 25px;
  display: flex;
  padding: 25px 2px 22px 0;
  width: 355px;
  box-sizing: border-box;
}
.corporate-doordarshan-2 .prasar-bharati-act {
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 700;
  font-size: 28px;
  color: #383086;
}
.corporate-doordarshan-2 .container-20 {
  box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.25);
  border-radius: 14px;
  background: #F1F4FD;
  position: relative;
  margin-bottom: 25px;
  display: flex;
  padding: 25px 3px 22px 0;
  width: 355px;
  box-sizing: border-box;
}
.corporate-doordarshan-2 .pb-secretariat {
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 700;
  font-size: 28px;
  color: #383086;
}
.corporate-doordarshan-2 .container-28 {
  box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.25);
  border-radius: 14px;
  background: #F1F4FD;
  position: relative;
  margin-bottom: 25px;
  display: flex;
  padding: 25px 3px 22px 0;
  width: 355px;
  box-sizing: border-box;
}
.corporate-doordarshan-2 .all-india-radio {
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 700;
  font-size: 28px;
  color: #383086;
}
.corporate-doordarshan-2 .container-19 {
  box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.25);
  border-radius: 14px;
  background: #F1F4FD;
  position: relative;
  margin-bottom: 25px;
  display: flex;
  padding: 25px 3px 22px 0;
  width: 355px;
  box-sizing: border-box;
}
.corporate-doordarshan-2 .doordarshan {
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 700;
  font-size: 28px;
  color: #FFFFFF;
}
.corporate-doordarshan-2 .container-5 {
  box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.25);
  border-radius: 14px;
  background: #383086;
  position: relative;
  margin-bottom: 25px;
  display: flex;
  padding: 25px 3px 22px 0;
  width: 355px;
  box-sizing: border-box;
}
.corporate-doordarshan-2 .pbns-dp {
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 700;
  font-size: 28px;
  color: #383086;
}
.corporate-doordarshan-2 .container-3 {
  box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.25);
  border-radius: 14px;
  background: #F1F4FD;
  position: relative;
  margin-bottom: 25px;
  display: flex;
  padding: 25px 17px 22px 0;
  width: 355px;
  box-sizing: border-box;
}
.corporate-doordarshan-2 .air-news {
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 700;
  font-size: 28px;
  color: #383086;
}
.corporate-doordarshan-2 .container-26 {
  box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.25);
  border-radius: 14px;
  background: #F1F4FD;
  position: relative;
  margin-bottom: 25px;
  display: flex;
  padding: 25px 2px 22px 0;
  width: 355px;
  box-sizing: border-box;
}
.corporate-doordarshan-2 .dd-news {
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 700;
  font-size: 28px;
  color: #383086;
}
.corporate-doordarshan-2 .container-7 {
  box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.25);
  border-radius: 14px;
  background: #F1F4FD;
  position: relative;
  margin-bottom: 25px;
  display: flex;
  padding: 25px 3px 22px 0;
  width: 355px;
  box-sizing: border-box;
}
.corporate-doordarshan-2 .prasar-bharati-archives {
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 700;
  font-size: 28px;
  color: #383086;
}
.corporate-doordarshan-2 .container-15 {
  box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.25);
  border-radius: 14px;
  background: #F1F4FD;
  position: relative;
  margin-bottom: 25px;
  display: flex;
  padding: 25px 18.3px 22px 15.3px;
  box-sizing: border-box;
}
.corporate-doordarshan-2 .nabm {
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 700;
  font-size: 28px;
  color: #383086;
}
.corporate-doordarshan-2 .container-1 {
  box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.25);
  border-radius: 14px;
  background: #F1F4FD;
  position: relative;
  margin-bottom: 25px;
  display: flex;
  padding: 25px 16px 22px 0;
  width: 355px;
  box-sizing: border-box;
}
.corporate-doordarshan-2 .ccw {
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 700;
  font-size: 28px;
  color: #383086;
}
.corporate-doordarshan-2 .container-11 {
  box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.25);
  border-radius: 14px;
  background: #F1F4FD;
  position: relative;
  margin-bottom: 25px;
  display: flex;
  padding: 25px 3px 22px 0;
  width: 355px;
  box-sizing: border-box;
}
.corporate-doordarshan-2 .research-development {
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 700;
  font-size: 28px;
  color: #383086;
}
.corporate-doordarshan-2 .container-21 {
  box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.25);
  border-radius: 14px;
  background: #F1F4FD;
  position: relative;
  margin-bottom: 25px;
  display: flex;
  padding: 25px 7.3px 22px 5.3px;
  box-sizing: border-box;
}
.corporate-doordarshan-2 .ministry-of-ib {
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 700;
  font-size: 28px;
  color: #383086;
}
.corporate-doordarshan-2 .container-30 {
  box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.25);
  border-radius: 14px;
  background: #F1F4FD;
  position: relative;
  display: flex;
  padding: 25px 2px 22px 0;
  width: 355px;
  box-sizing: border-box;
}
.corporate-doordarshan-2 .container-18 {
  box-shadow: 10px 4px 4px 0px rgba(0, 0, 0, 0.15);
  border-radius: 30px;
  border: 1px solid rgba(56, 48, 134, 0.51);
  background: #FFFFFF;
  position: relative;
  margin: 0 83px 236px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 55px 19px 43px 19px;
  box-sizing: border-box;
}
.corporate-doordarshan-2 .dd-home {
  margin: 15px 19.5px 0 0;
  display: inline-block;
  width: 167px;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 600;
  font-size: 32px;
  color: #383086;
}
.corporate-doordarshan-2 .whos-who {
  margin-bottom: 15px;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 600;
  font-size: 32px;
  color: #FFFFFF;
}
.corporate-doordarshan-2 .location {
  margin: 12px 0 3px 0;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 600;
  font-size: 32px;
  color: #383086;
}
.corporate-doordarshan-2 .container-4 {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 845.9px;
  height: fit-content;
  box-sizing: border-box;
}
.corporate-doordarshan-2 .about {
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 600;
  font-size: 32px;
  color: #FFFFFF;
}
.corporate-doordarshan-2 .container-22 {
  box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.25);
  border-radius: 14px;
  background: #383086;
  position: absolute;
  left: 242px;
  bottom: 12px;
  display: flex;
  padding: 21px 1.6px 21px 0;
  width: 162px;
  box-sizing: border-box;
}
.corporate-doordarshan-2 .dd-directorate {
  position: absolute;
  top: 50%;
  right: 228.4px;
  translate: 0 -50%;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 600;
  font-size: 32px;
  color: #383086;
}
.corporate-doordarshan-2 .container-31 {
  box-shadow: 9px 7px 4px 0px rgba(0, 0, 0, 0.25);
  border-radius: 17px;
  border: 1px solid #383086;
  background: #FFFFFF;
  position: relative;
  margin-bottom: 54px;
  display: flex;
  padding: 18px 38.1px 33px 49px;
  width: 933px;
  box-sizing: border-box;
}
.corporate-doordarshan-2 .image-56 {
  background: url('../assets/images/image_31.png') 50% / cover no-repeat;
  margin-right: 12.1px;
  width: 92px;
  height: 92px;
}
.corporate-doordarshan-2 .about-doordarshan {
  margin: 19px 0 14px 0;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 700;
  font-size: 49px;
  color: #383086;
}
.corporate-doordarshan-2 .container-29 {
  margin: 0 22px 46px 22px;
  display: flex;
  flex-direction: row;
  align-self: flex-start;
  width: fit-content;
  box-sizing: border-box;
}
.corporate-doordarshan-2 .doordarshan-literally-aglimpse-of-all-afar-is-the-face-of-and-awitness-to-indias-metamorphosis-to-aglobal-leader-in-digital-communications-interestingly-the-illusory-cyber-paths-that-crisscross-homes-and-streets-and-represent-the-voice-abillion-plus-indians-today-actually-began-with-amodest-experiment-in-public-service-telecasting-on-september-151959-the-makeshift-studio-and-its-players-beamed-their-voice-and-visuals-through-asmall-transmitter-daring-to-dream-of-becoming-the-prime-vehicle-of-development-of-anation-that-had-shrugged-off-its-yoke-of-slavery-just-over-adecade-earlier-the-experiment-became-aservice-in-1965-when-doordarshan-began-beaming-signals-to-reach-television-sets-in-living-rooms-in-and-around-the-countrys-capital-new-delhi-by-1972-services-were-extended-to-mumbai-and-amritsar-and-then-on-to-seven-other-cities-by-1975-all-this-time-it-was-part-of-the-national-broadcaster-all-india-radio-on-april-11976-it-transited-to-become-aseparate-department-in-the-ministry-of-information-and-broadcasting-though-still-serviced-by-all-india-radio-especially-for-its-news-since-then-the-organisation-has-grown-to-cover-the-length-and-breadth-of-the-country-painstakingly-caring-for-the-interest-of-all-linguistic-geographical-and-cultural-groups-and-promoting-social-cultural-and-educational-development-of-the-country-though-an-array-of-transmitter-networks-equipped-with-studios-and-facilities-to-produce-programmes-even-in-regional-languages-in-doing-so-the-countrys-prime-television-service-provider-has-also-become-the-engine-for-celebration-of-its-diversity-and-the-iteration-of-its-unity-it-has-been-able-to-do-so-because-it-has-no-single-market-to-pamper-because-it-is-the-harbinger-of-news-and-information-services-to-every-geographical-community-all-occupational-group-and-each-assemble-of-interests-at-doordarshan-engineering-blends-with-creativity-to-make-it-arole-model-as-amatrix-of-genres-evolve-from-aspread-of-centers-an-array-of-transmissions-and-hundreds-of-studios-this-fusion-of-modern-digital-engineering-hardware-and-the-software-of-athree-tier-programme-service-spreads-nationally-regionally-and-even-locally-over-the-decades-the-results-of-this-melt-of-engineering-and-creativity-have-captivated-million-who-would-be-glued-to-television-sets-to-watch-anything-from-news-to-cricket-match-telecasts-exhibitions-of-art-culture-and-bollywood-to-education-on-the-arts-and-sciences-alike-from-catering-to-avast-farming-community-to-catalysing-the-growth-of-industry-and-commerce-over-the-years-doordarshan-has-grown-into-anetwork-operating-34-satellite-channels-besides-providing-free-to-air-dth-service-having-104-in-its-bookings-indeed-that-single-studio-from-its-small-departmental-home-in-all-india-radio-has-grown-into-66-studio-centers-all-over-the-country-including-17-major-studio-centers-at-state-capitals-and-49-other-studio-centers-located-in-various-cities {
  margin: 0 22px;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 600;
  font-size: 24px;
  color: #383086;
}
.corporate-doordarshan-2 .container-8 {
  border-radius: 78px;
  background: #FFFFFF;
  position: relative;
  margin-top: 56px;
  display: flex;
  flex-direction: column;
  padding: 87px 67px 48px 50px;
  box-sizing: border-box;
}
.corporate-doordarshan-2 .container-27 {
  margin: 0 38px 116px 164px;
  display: flex;
  flex-direction: row;
  width: fit-content;
  box-sizing: border-box;
}
.circulars-tenders {
  font-family: 'Poppins';
  font-weight: 600;
  font-size: 30px;
  text-decoration-line: underline;
  line-height: 1.333;
  color: #383086;
}
.corporate-doordarshan-2 .circulars-tenders {
  margin: 3.9px 134.8px 412.8px 0;
  overflow-wrap: break-word;
  font-family: 'Staatliches';
  font-weight: 400;
  font-size: 30px;
  color: #383086;
}
.circulars-tenders-sub79 {
  font-family: 'Poppins';
  font-weight: 600;
  font-size: 30px;
  text-decoration-line: underline;
  line-height: 1.333;
  color: #383086;
}
.circulars-tenders-sub78 {
  font-family: 'Poppins';
  font-weight: 600;
  font-size: 30px;
  line-height: 1.333;
  color: #383086;
}
.corporate-doordarshan-2 .prasar-bharati-board-citizens-charter-feedback {
  margin: 1.7px 77.3px 0 0;
  overflow-wrap: break-word;
  font-family: 'Poppins';
  font-weight: 600;
  font-size: 30px;
  color: #383086;
}
.prasar-bharati-board-citizens-charter-feedback-sub10 {
  font-family: 'Poppins';
  font-weight: 600;
  font-size: 30px;
  text-decoration-line: underline;
  line-height: 1.333;
  color: #383086;
}
.prasar-bharati-board-citizens-charter-feedback-sub8 {
  font-family: 'Poppins';
  font-weight: 600;
  font-size: 30px;
  text-decoration-line: underline;
  line-height: 1.333;
  color: #383086;
}
.prasar-bharati-board-citizens-charter-feedback {
  font-family: 'Poppins';
  font-weight: 600;
  font-size: 30px;
  text-decoration-line: underline;
  line-height: 1.333;
  color: #383086;
}
.ministry-of-ibcvc-epledge-sub7 {
  font-family: 'Poppins';
  font-weight: 600;
  font-size: 30px;
  text-decoration-line: underline;
  line-height: 1.333;
  color: #383086;
}
.ministry-of-ibcvc-epledge {
  font-family: 'Poppins';
  font-weight: 600;
  font-size: 30px;
  text-decoration-line: underline;
  line-height: 1.333;
  color: #383086;
}
.corporate-doordarshan-2 .ministry-of-ibcvc-epledge {
  margin: 0 0px 46.7px 0;
  overflow-wrap: break-word;
  font-family: 'Poppins';
  font-weight: 600;
  font-size: 30px;
  color: #383086;
}
.corporate-doordarshan-2 .container-12 {
  margin-bottom: 48px;
  display: flex;
  flex-direction: row;
  width: fit-content;
  box-sizing: border-box;
}
.corporate-doordarshan-2 .image-47 {
  background: url('../assets/images/image_46.png') 50% / cover no-repeat;
  margin-left: 6px;
  width: 321px;
  height: 322px;
}
.corporate-doordarshan-2 .container-13 {
  margin-right: 102.2px;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
}
.disclaimer-contact-us-help-sitemap-sub10 {
  font-family: 'Poppins';
  font-weight: 600;
  font-size: 30px;
  text-decoration-line: underline;
  line-height: 1.333;
  color: #383086;
}
.disclaimer-contact-us-help-sitemap {
  font-family: 'Poppins';
  font-weight: 600;
  font-size: 30px;
  text-decoration-line: underline;
  line-height: 1.333;
  color: #383086;
}
.corporate-doordarshan-2 .disclaimer-contact-us-help-sitemap {
  margin: 9.3px 0 317.4px 0;
  overflow-wrap: break-word;
  font-family: 'Poppins';
  font-weight: 600;
  font-size: 30px;
  color: #383086;
}
.disclaimer-contact-us-help-sitemap-sub13 {
  font-family: 'Poppins';
  font-weight: 600;
  font-size: 30px;
  text-decoration-line: underline;
  line-height: 1.333;
  color: #383086;
}
.disclaimer-contact-us-help-sitemap-sub11 {
  font-family: 'Poppins';
  font-weight: 600;
  font-size: 30px;
  text-decoration-line: underline;
  line-height: 1.333;
  color: #383086;
}
.corporate-doordarshan-2 .container-16 {
  margin-bottom: 3px;
  display: flex;
  flex-direction: row;
  width: fit-content;
  box-sizing: border-box;
}
.corporate-doordarshan-2 .get-news-onair-app {
  margin-left: 8.6px;
  overflow-wrap: break-word;
  font-family: 'Poppins';
  font-weight: 600;
  font-size: 30px;
  color: #383086;
}
.corporate-doordarshan-2 .container-2 {
  background: #FFFFFF;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 104.3px 0 82px 0;
  width: 1728px;
  box-sizing: border-box;
}
.corporate-doordarshan-2 .container-24 {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  width: 1728px;
  height: fit-content;
  box-sizing: border-box;
}
.corporate-doordarshan-2 .firstline {
  width: 73px;
  height: 71.3px;
}
.corporate-doordarshan-2 .vuesaxbrokenfirstline {
  position: absolute;
  left: 57px;
  top: 251.2px;
  display: flex;
  width: 73px;
  height: 71.3px;
  box-sizing: border-box;
}
.corporate-doordarshan-2 .whats-new {
  margin-right: 28.5px;
  width: 193px;
  overflow-wrap: break-word;
  font-family: 'Staatliches';
  font-weight: 400;
  font-size: 46px;
  color: #FFFFFF;
}
.corporate-doordarshan-2 .about-us {
  overflow-wrap: break-word;
  font-family: 'Staatliches';
  font-weight: 400;
  font-size: 46px;
  color: #FFFFFF;
}
.corporate-doordarshan-2 .related-links {
  overflow-wrap: break-word;
  font-family: 'Staatliches';
  font-weight: 400;
  font-size: 46px;
  color: #FFFFFF;
}
.corporate-doordarshan-2 .prasar-bharati {
  overflow-wrap: break-word;
  font-family: 'Staatliches';
  font-weight: 400;
  font-size: 46px;
  color: #FFFFFF;
}
.corporate-doordarshan-2 .container-23 {
  background: #383086;
  position: absolute;
  left: 0px;
  right: 0px;
  bottom: 639px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 34px 0 22px 0;
  box-sizing: border-box;
}
.corporate-doordarshan-2 {
  background: #F1F4FD;
  display: flex;
  padding: 17px 9px 0 0;
  width: 1728px;
  box-sizing: border-box;
}
