.corporate-mission-objectives-1 .frame-1 {
  border-radius: 26px;
  position: absolute;
  left: 50%;
  top: 128px;
  translate: -50% 0;
  width: 1043px;
  height: 88px;
}
.corporate-mission-objectives-1 .download-removebg-preview-153 {
  background: url('../assets/images/download_removebg_preview_153.png') 50% / cover no-repeat;
  position: absolute;
  left: 68px;
  top: 78px;
  width: 194px;
  height: 194px;
}
.corporate-mission-objectives-1 .download-removebg-preview-191 {
  background: url('../assets/images/download_removebg_preview_191.png') 50% / cover no-repeat;
  margin: 0 0 18px 11px;
  align-self: center;
  width: 70px;
  height: 114px;
}
.corporate-mission-objectives-1 .search {
  margin: 3px 20px 11px 0;
  display: inline-block;
  width: 112px;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 600;
  font-size: 33px;
  color: #383086;
}
.corporate-mission-objectives-1 .sign-up {
  margin: 12px 6.4px 13px 0;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 700;
  font-size: 24px;
  color: #3A3085;
}
.corporate-mission-objectives-1 .login {
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 700;
  font-size: 24px;
  color: #F1F4FD;
}
.corporate-mission-objectives-1 .container-22 {
  border-radius: 14px;
  background: #3A3085;
  position: relative;
  padding: 12px 20px 13px 20px;
  width: 109px;
  box-sizing: border-box;
}
.corporate-mission-objectives-1 .container-24 {
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
}
.corporate-mission-objectives-1 .container-3 {
  margin: 0 50px 40px 50px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 1287px;
  box-sizing: border-box;
}
.corporate-mission-objectives-1 .home {
  overflow-wrap: break-word;
  font-family: 'Poppins';
  font-weight: 500;
  font-size: 28px;
  color: #383086;
}
.corporate-mission-objectives-1 .group-16 {
  margin: 14px 0 9px 0;
  display: flex;
  box-sizing: border-box;
}
.corporate-mission-objectives-1 .corporate {
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 600;
  font-size: 28px;
  color: #FFFFFF;
}
.corporate-mission-objectives-1 .group-35 {
  border-radius: 13px;
  background: #383086;
  position: relative;
  display: flex;
  padding: 17px 15.5px 14px 16px;
  box-sizing: border-box;
}
.corporate-mission-objectives-1 .listeners {
  margin: 18px 0 13px 0;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 500;
  font-size: 28px;
  color: #383086;
}
.corporate-mission-objectives-1 .viewers {
  margin: 18px 0 13px 0;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 500;
  font-size: 28px;
  color: #383086;
}
.corporate-mission-objectives-1 .clients {
  margin: 18px 0 13px 0;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 500;
  font-size: 28px;
  color: #383086;
}
.corporate-mission-objectives-1 .talent {
  margin: 18px 0 13px 0;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 500;
  font-size: 28px;
  color: #383086;
}
.corporate-mission-objectives-1 .latest {
  margin: 18px 0 13px 0;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 500;
  font-size: 28px;
  color: #383086;
}
.corporate-mission-objectives-1 .blog {
  margin: 18px 0 13px 0;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 500;
  font-size: 28px;
  color: #383086;
}
.corporate-mission-objectives-1 .container-12 {
  box-shadow: 9px 7px 4px 0px rgba(0, 0, 0, 0.25);
  border-radius: 17px;
  background: #FFFFFF;
  position: relative;
  margin-right: 40px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 6px 17.6px 8px 46px;
  width: 1418px;
  box-sizing: border-box;
}
.corporate-mission-objectives-1 .shape-1 {
  width: 41px;
  height: 44px;
}
.corporate-mission-objectives-1 .group-34 {
  border-radius: 30px;
  background: #3A3085;
  position: relative;
  margin: 11px 0 8px 0;
  display: flex;
  padding: 9px 9px 7px 10px;
  width: 60px;
  height: 60px;
  box-sizing: border-box;
}
.corporate-mission-objectives-1 .container-18 {
  margin: 0 54px 29px 165px;
  display: flex;
  flex-direction: row;
  width: 1518px;
  box-sizing: border-box;
}
.corporate-mission-objectives-1 .corporate-1 {
  margin: 0 2px 45px 0;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 700;
  font-size: 35px;
  color: #383086;
}
.corporate-mission-objectives-1 .mission-objectives {
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 700;
  font-size: 28px;
  color: #FFFFFF;
}
.corporate-mission-objectives-1 .container-11 {
  box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.25);
  border-radius: 14px;
  background: #383086;
  position: relative;
  margin-bottom: 25px;
  display: flex;
  padding: 25px 35.4px 22px 33.4px;
  box-sizing: border-box;
}
.corporate-mission-objectives-1 .prasar-bharati-board {
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 700;
  font-size: 28px;
  color: #383086;
}
.corporate-mission-objectives-1 .container-5 {
  box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.25);
  border-radius: 14px;
  background: #F1F4FD;
  position: relative;
  margin-bottom: 25px;
  display: flex;
  padding: 25px 2px 22px 0;
  width: 355px;
  box-sizing: border-box;
}
.corporate-mission-objectives-1 .prasar-bharati-act {
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 700;
  font-size: 28px;
  color: #383086;
}
.corporate-mission-objectives-1 .container-7 {
  box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.25);
  border-radius: 14px;
  background: #F1F4FD;
  position: relative;
  margin-bottom: 25px;
  display: flex;
  padding: 25px 3px 22px 0;
  width: 355px;
  box-sizing: border-box;
}
.corporate-mission-objectives-1 .pb-secretariat {
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 700;
  font-size: 28px;
  color: #383086;
}
.corporate-mission-objectives-1 .container-23 {
  box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.25);
  border-radius: 14px;
  background: #F1F4FD;
  position: relative;
  margin-bottom: 25px;
  display: flex;
  padding: 25px 3px 22px 0;
  width: 355px;
  box-sizing: border-box;
}
.corporate-mission-objectives-1 .all-india-radio {
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 700;
  font-size: 28px;
  color: #383086;
}
.corporate-mission-objectives-1 .container-16 {
  box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.25);
  border-radius: 14px;
  background: #F1F4FD;
  position: relative;
  margin-bottom: 25px;
  display: flex;
  padding: 25px 3px 22px 0;
  width: 355px;
  box-sizing: border-box;
}
.corporate-mission-objectives-1 .doordarshan {
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 700;
  font-size: 28px;
  color: #383086;
}
.corporate-mission-objectives-1 .container-6 {
  box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.25);
  border-radius: 14px;
  background: #F1F4FD;
  position: relative;
  margin-bottom: 25px;
  display: flex;
  padding: 25px 3px 22px 0;
  width: 355px;
  box-sizing: border-box;
}
.corporate-mission-objectives-1 .pbns-dp {
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 700;
  font-size: 28px;
  color: #383086;
}
.corporate-mission-objectives-1 .container-4 {
  box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.25);
  border-radius: 14px;
  background: #F1F4FD;
  position: relative;
  margin-bottom: 25px;
  display: flex;
  padding: 25px 17px 22px 0;
  width: 355px;
  box-sizing: border-box;
}
.corporate-mission-objectives-1 .air-news {
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 700;
  font-size: 28px;
  color: #383086;
}
.corporate-mission-objectives-1 .container {
  box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.25);
  border-radius: 14px;
  background: #F1F4FD;
  position: relative;
  margin-bottom: 25px;
  display: flex;
  padding: 25px 2px 22px 0;
  width: 355px;
  box-sizing: border-box;
}
.corporate-mission-objectives-1 .dd-news {
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 700;
  font-size: 28px;
  color: #383086;
}
.corporate-mission-objectives-1 .container-2 {
  box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.25);
  border-radius: 14px;
  background: #F1F4FD;
  position: relative;
  margin-bottom: 25px;
  display: flex;
  padding: 25px 3px 22px 0;
  width: 355px;
  box-sizing: border-box;
}
.corporate-mission-objectives-1 .prasar-bharati-archives {
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 700;
  font-size: 28px;
  color: #383086;
}
.corporate-mission-objectives-1 .container-27 {
  box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.25);
  border-radius: 14px;
  background: #F1F4FD;
  position: relative;
  margin-bottom: 25px;
  display: flex;
  padding: 25px 18.3px 22px 15.3px;
  box-sizing: border-box;
}
.corporate-mission-objectives-1 .nabm {
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 700;
  font-size: 28px;
  color: #383086;
}
.corporate-mission-objectives-1 .container-26 {
  box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.25);
  border-radius: 14px;
  background: #F1F4FD;
  position: relative;
  margin-bottom: 25px;
  display: flex;
  padding: 25px 16px 22px 0;
  width: 355px;
  box-sizing: border-box;
}
.corporate-mission-objectives-1 .ccw {
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 700;
  font-size: 28px;
  color: #383086;
}
.corporate-mission-objectives-1 .container-10 {
  box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.25);
  border-radius: 14px;
  background: #F1F4FD;
  position: relative;
  margin-bottom: 25px;
  display: flex;
  padding: 25px 3px 22px 0;
  width: 355px;
  box-sizing: border-box;
}
.corporate-mission-objectives-1 .research-development {
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 700;
  font-size: 28px;
  color: #383086;
}
.corporate-mission-objectives-1 .container-14 {
  box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.25);
  border-radius: 14px;
  background: #F1F4FD;
  position: relative;
  margin-bottom: 25px;
  display: flex;
  padding: 25px 7.3px 22px 5.3px;
  box-sizing: border-box;
}
.corporate-mission-objectives-1 .ministry-of-ib {
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 700;
  font-size: 28px;
  color: #383086;
}
.corporate-mission-objectives-1 .container-9 {
  box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.25);
  border-radius: 14px;
  background: #F1F4FD;
  position: relative;
  display: flex;
  padding: 25px 2px 22px 0;
  width: 355px;
  box-sizing: border-box;
}
.corporate-mission-objectives-1 .container-15 {
  box-shadow: 10px 4px 4px 0px rgba(0, 0, 0, 0.15);
  border-radius: 30px;
  border: 1px solid rgba(56, 48, 134, 0.51);
  background: #FFFFFF;
  position: relative;
  margin-right: 83px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 55px 19px 43px 19px;
  box-sizing: border-box;
}
.corporate-mission-objectives-1 .mission-objectives-1 {
  margin: 0 4.2px 42px 4.2px;
  display: inline-block;
  align-self: flex-start;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 700;
  font-size: 49px;
  color: #383086;
}
.corporate-mission-objectives-1 .the-major-objectives-of-the-prasar-bharati-corporation-as-laid-out-in-the-prasar-bharati-act-1990-are-as-follows-to-uphold-the-unity-and-integrity-of-the-country-and-the-values-enshrined-in-the-constitution-to-safeguard-the-citizens-right-to-be-informed-freely-truthfully-and-objectively-on-all-matters-of-public-interest-national-or-international-and-to-present-afair-and-balanced-flow-of-information-including-contrasting-views-without-advocating-any-opinion-or-ideology-of-its-own-to-promote-national-integration-to-pay-special-attention-to-the-fields-of-education-and-spread-of-literacy-agriculture-rural-development-environment-health-family-welfare-and-science-technology-to-create-awareness-about-womens-issues-and-take-special-steps-to-protect-the-interests-of-children-aged-and-other-vulnerable-sections-of-the-society-to-provide-adequate-coverage-to-diverse-cultures-sports-and-games-and-youth-affairs-to-promote-social-justice-safeguarding-the-rights-of-working-classes-minorities-and-tribal-communities-to-promote-research-and-expand-broadcasting-faculties-development-in-broadcast-technology {
  align-self: flex-start;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 600;
  font-size: 24px;
  color: #383086;
}
.the-major-objectives-of-the-prasar-bharati-corporation-as-laid-out-in-the-prasar-bharati-act-1990-are-as-follows-to-uphold-the-unity-and-integrity-of-the-country-and-the-values-enshrined-in-the-constitution-to-safeguard-the-citizens-right-to-be-informed-freely-truthfully-and-objectively-on-all-matters-of-public-interest-national-or-international-and-to-present-afair-and-balanced-flow-of-information-including-contrasting-views-without-advocating-any-opinion-or-ideology-of-its-own-to-promote-national-integration-to-pay-special-attention-to-the-fields-of-education-and-spread-of-literacy-agriculture-rural-development-environment-health-family-welfare-and-science-technology-to-create-awareness-about-womens-issues-and-take-special-steps-to-protect-the-interests-of-children-aged-and-other-vulnerable-sections-of-the-society-to-provide-adequate-coverage-to-diverse-cultures-sports-and-games-and-youth-affairs-to-promote-social-justice-safeguarding-the-rights-of-working-classes-minorities-and-tribal-communities-to-promote-research-and-expand-broadcasting-faculties-development-in-broadcast-technology-sub5 {
  font-family: 'Inter';
  font-weight: 600;
  font-size: 29px;
  line-height: 1.333;
}
.corporate-mission-objectives-1 .container-19 {
  border-radius: 78px;
  background: #FFFFFF;
  position: relative;
  margin: 55px 0 486px 0;
  display: flex;
  flex-direction: column;
  padding: 91px 0 203px 31px;
  width: 966px;
  box-sizing: border-box;
}
.corporate-mission-objectives-1 .container-21 {
  margin: 0 131px 352px 164px;
  display: flex;
  flex-direction: row;
  width: fit-content;
  box-sizing: border-box;
}
.circulars-tenders-sub79 {
  font-family: 'Poppins';
  font-weight: 600;
  font-size: 30px;
  text-decoration-line: underline;
  line-height: 1.333;
  color: #383086;
}
.circulars-tenders-sub78 {
  font-family: 'Poppins';
  font-weight: 600;
  font-size: 30px;
  line-height: 1.333;
  color: #383086;
}
.circulars-tenders {
  font-family: 'Poppins';
  font-weight: 600;
  font-size: 30px;
  text-decoration-line: underline;
  line-height: 1.333;
  color: #383086;
}
.corporate-mission-objectives-1 .circulars-tenders {
  margin: 3.9px 134.8px 412.8px 0;
  overflow-wrap: break-word;
  font-family: 'Staatliches';
  font-weight: 400;
  font-size: 30px;
  color: #383086;
}
.corporate-mission-objectives-1 .prasar-bharati-board-citizens-charter-feedback {
  margin: 1.7px 77.3px 0 0;
  overflow-wrap: break-word;
  font-family: 'Poppins';
  font-weight: 600;
  font-size: 30px;
  color: #383086;
}
.prasar-bharati-board-citizens-charter-feedback-sub10 {
  font-family: 'Poppins';
  font-weight: 600;
  font-size: 30px;
  text-decoration-line: underline;
  line-height: 1.333;
  color: #383086;
}
.prasar-bharati-board-citizens-charter-feedback-sub8 {
  font-family: 'Poppins';
  font-weight: 600;
  font-size: 30px;
  text-decoration-line: underline;
  line-height: 1.333;
  color: #383086;
}
.prasar-bharati-board-citizens-charter-feedback {
  font-family: 'Poppins';
  font-weight: 600;
  font-size: 30px;
  text-decoration-line: underline;
  line-height: 1.333;
  color: #383086;
}
.corporate-mission-objectives-1 .ministry-of-ibcvc-epledge {
  margin-bottom: 46.7px;
  overflow-wrap: break-word;
  font-family: 'Poppins';
  font-weight: 600;
  font-size: 30px;
  color: #383086;
}
.ministry-of-ibcvc-epledge-sub7 {
  font-family: 'Poppins';
  font-weight: 600;
  font-size: 30px;
  text-decoration-line: underline;
  line-height: 1.333;
  color: #383086;
}
.ministry-of-ibcvc-epledge {
  font-family: 'Poppins';
  font-weight: 600;
  font-size: 30px;
  text-decoration-line: underline;
  line-height: 1.333;
  color: #383086;
}
.corporate-mission-objectives-1 .container-20 {
  margin-bottom: 48px;
  display: flex;
  flex-direction: row;
  width: fit-content;
  box-sizing: border-box;
}
.corporate-mission-objectives-1 .image-47 {
  background: url('../assets/images/image_46.png') 50% / cover no-repeat;
  margin-left: 6px;
  width: 321px;
  height: 322px;
}
.corporate-mission-objectives-1 .container-17 {
  margin-right: 102.2px;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
}
.disclaimer-contact-us-help-sitemap-sub13 {
  font-family: 'Poppins';
  font-weight: 600;
  font-size: 30px;
  text-decoration-line: underline;
  line-height: 1.333;
  color: #383086;
}
.disclaimer-contact-us-help-sitemap-sub11 {
  font-family: 'Poppins';
  font-weight: 600;
  font-size: 30px;
  text-decoration-line: underline;
  line-height: 1.333;
  color: #383086;
}
.disclaimer-contact-us-help-sitemap-sub10 {
  font-family: 'Poppins';
  font-weight: 600;
  font-size: 30px;
  text-decoration-line: underline;
  line-height: 1.333;
  color: #383086;
}
.disclaimer-contact-us-help-sitemap {
  font-family: 'Poppins';
  font-weight: 600;
  font-size: 30px;
  text-decoration-line: underline;
  line-height: 1.333;
  color: #383086;
}
.corporate-mission-objectives-1 .disclaimer-contact-us-help-sitemap {
  margin: 9.3px 0 317.4px 0;
  overflow-wrap: break-word;
  font-family: 'Poppins';
  font-weight: 600;
  font-size: 30px;
  color: #383086;
}
.corporate-mission-objectives-1 .container-13 {
  margin-bottom: 3px;
  display: flex;
  flex-direction: row;
  width: fit-content;
  box-sizing: border-box;
}
.corporate-mission-objectives-1 .get-news-onair-app {
  margin-left: 8.6px;
  overflow-wrap: break-word;
  font-family: 'Poppins';
  font-weight: 600;
  font-size: 30px;
  color: #383086;
}
.corporate-mission-objectives-1 .container-25 {
  background: #FFFFFF;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 104.3px 0 82px 0;
  width: 1737px;
  box-sizing: border-box;
}
.corporate-mission-objectives-1 .container-1 {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  width: 1737px;
  height: fit-content;
  box-sizing: border-box;
}
.corporate-mission-objectives-1 .firstline {
  width: 73px;
  height: 71.3px;
}
.corporate-mission-objectives-1 .vuesaxbrokenfirstline {
  position: absolute;
  left: 57px;
  top: 251.2px;
  display: flex;
  width: 73px;
  height: 71.3px;
  box-sizing: border-box;
}
.corporate-mission-objectives-1 .whats-new {
  margin-right: 28.5px;
  width: 193px;
  overflow-wrap: break-word;
  font-family: 'Staatliches';
  font-weight: 400;
  font-size: 46px;
  color: #FFFFFF;
}
.corporate-mission-objectives-1 .about-us {
  overflow-wrap: break-word;
  font-family: 'Staatliches';
  font-weight: 400;
  font-size: 46px;
  color: #FFFFFF;
}
.corporate-mission-objectives-1 .related-links {
  overflow-wrap: break-word;
  font-family: 'Staatliches';
  font-weight: 400;
  font-size: 46px;
  color: #FFFFFF;
}
.corporate-mission-objectives-1 .prasar-bharati {
  overflow-wrap: break-word;
  font-family: 'Staatliches';
  font-weight: 400;
  font-size: 46px;
  color: #FFFFFF;
}
.corporate-mission-objectives-1 .container-8 {
  background: #383086;
  position: absolute;
  left: 0px;
  right: 0px;
  bottom: 639px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 34px 0 22px 0;
  box-sizing: border-box;
}
.corporate-mission-objectives {
  background: #F1F4FD;
  display: flex;
  padding-top: 17px;
  width: 1728px;
  box-sizing: border-box;
}
